[2017-08-08 15:56] ihard opened #1 "Is this all in one project?"
not found readme file or any doc :)

[2017-08-08 16:02] borovskyav commented on #1
Hi! Yeah, this is all in one project, but it is in progress. Now ready notifier and cache. Api now on go and worker in process now

[2017-08-08 16:14] #1 closed

[2017-08-09 05:51] beevee commented on #1
This repo is work-in-progress. Please refer to docs at moira.readthedocs.org

[2017-08-09 18:42] AlexAkulov opened #2 "Logical expressions for tags"
Now tags are always united with "and", it would be cool to have an opportunity to unite tags in subscriptions with logical expressions like "and", "or", "not", etc.
For example:
- tag1 && (tag2 || tag3)
- tag1 && tag2 && !tag3
- (tag1 && tag2) || ( tag1 && tag3)

[2017-09-05 18:47] AlexAkulov opened #3 "Types of Triggers"
We could add different types of triggers
- Push Type for real time alerting. It is like current trigger type.
- Pull Type for simple detect anomalies. This trigger has to pull data from graphite storage periodically, like all other monitoring systems based on graphite. (bosun, beacon)
- HeathCheck Type is a standard shedulled check HTTP, FTP and some other popular protocols like (statuscake.com, u

[2017-09-09 19:23] AlexAkulov opened #4 "Add status handler"
For example:
[code]

[2017-09-11 08:12] AlexAkulov opened #5 "Checkers break down after restart redis"
Checkers break down after restart redis

[2017-09-11 08:46] AlexAkulov opened #6 "External HTML template for email sender"
We can support HTML-template for emails in external file.

[2017-09-11 08:52] kolobaev opened #7 "Add images to notify"
Всем привет!
Во всех API интерфейсах графита, есть возможность рендерить картинку относительно метрики.
Очень хочется, иметь возможность, в нотификаторе, включить рассылку картинок для Slack и почты, как это сделано к примеру в Графане.
Картинку можно генерить онлайни и заливать её на расшаренный WEBDAV сервер (для начала). После чего постить ссылку на неё в слак и почту.

[2017-09-11 16:34] #6 closed

[2017-09-13 11:05] iloktionov opened #8 "Slack notifications: utilize threads feature to organize a channel as a stream of incidents"
It's often convenient to include an actionable description for each trigger to improve learning curve for new on-call engineers. However, these descriptions are generally quite long. This causes messages to occupy a lot of screen space and cause unnecessary bloat:

![image](https://user-images.githubusercontent.com/832336/30373824-126db048-989c-11e7-94c3-8b00eddd2e3f.png)
![image](https://user-ima

[2017-09-13 14:14] AlexAkulov opened #9 "Add getTriggerByName api method"
Add getTriggerByName api method. Its needs for ansible module.

[2017-09-13 14:42] AlexAkulov opened #10 "Trigger Name Must be Unique"
Trigger Name must be unique. It is necessary for a better automatization.

[2017-09-13 14:43] AlexAkulov opened #11 "Integrate python-moira-client to test API"
Integrate python-moira-client to test API in travis

[2017-09-14 06:52] borovskyav commented on #10
For trigger uniquines we are using a triggerID, so it is quite enough for trigger identity. Now trigger name can be same in other projects, and user can find trigger they need by tag. It also applies to automatization to create new triggers. For example you can create new trigger while deploy new elastic cluster for team "Team1" with tag "Team1", and then create trigger with same name for team "Te

[2017-09-14 06:54] borovskyav commented on #9
Now it doesn't need because you can process all your trigger by its unique id. [Explanation](https://github.com/moira-alert/moira/issues/10#issuecomment-329390494)

[2017-09-14 09:15] #10 closed

[2017-09-14 09:16] #9 closed

[2017-09-16 16:38] borovskyav opened #12 "Graceful shutdown of telebot listener"
If you use telegram bot, you make sure that you use telebot listener only on one instance of Moira. For this we are using distributed lock and extend it every half-ttl time interval. But if we can not extend it while lock record not foul, another instance can register bot and start new listener. In this case we should stop listener on addled instance. But telebot does not support graceful shutdown

[2017-09-19 09:18] beevee opened #13 "Moira breaks on -Inf values from carbonapi"

[2017-09-19 09:27] beevee opened #14 "Timezone in alerts should be local server timezone"

[2017-09-28 10:33] sashasushko opened #15 "Restore 'expression' key in API"
Now on `moira-test` there isn't "expression" key in response on request for trigger data. In `dev-` and `production-moira` this key exist. Where is truth?

[2017-09-29 06:03] sashasushko commented on #15
Also is gone "is_simple_trigger" key

[2017-10-06 15:03] maraev opened #16 "notifier/mail doesn't understand html tags in description field"
Hello.
I have the notifications with notifier/mail. The trouble is that the text lines have been concatinated in one like:
`Description: Heap Size Usage : http://server/dashboard/db/call-manager Please, don’t use mon-alert.link - it is for monitoring admins group purpose.
`
The < br > or \n line break are not works and transfer as is:
`Description: Heap Size Usage :<br> http://server/dashboard/db/

[2017-10-25 13:05] kamaev opened #17 "Update trigger state in API when trigger is removed"
It seems that /api/trigger/<trigger_id>/state
returns the last registered value even if trigger is removed

[2017-10-27 19:34] borovskyav commented on #15
Field "is_simple_trigger" no more need in trigger structure. Now it is calculated on the fly. I did it in this commit https://github.com/moira-alert/moira/commit/5e10f567d2b6734b8f4e2dabf70a3d34429aebe0

[2017-10-28 08:14] borovskyav commented on #15
Have fixed in https://github.com/moira-alert/moira/commit/419d3b0447e2ba7cb717ad0c80c5f3a85e39231b

[2017-10-28 08:14] #15 closed

[2017-10-28 09:49] #17 closed

[2017-10-28 18:01] #14 closed

[2017-10-29 09:30] borovskyav commented on #12
Create pull request tucnak/telebot#99

[2017-10-29 18:49] borovskyav commented on #5
I have fixed it in 91aa6d1fe64e43bbed2a939f00c8e1e67c5a576a Now we are trying to reconnect to redis host it get net.OpError.

[2017-10-29 18:49] #5 closed

[2017-10-31 09:58] borovskyav opened #23 "Stabilize TestRenewBot test"
This test in unstable while build on travis, for example in this build https://travis-ci.org/moira-alert/moira/builds/295220265

[2017-11-07 14:57] ihard opened #41 "storage-schemas.conf in all DEB package"
file storage-schemas.conf - needed in  package moira-checker, moira-cli, moira-filter, moira-notifier?
this is problem with install - error:
attempt to overwrite "/etc/moira/storage-schemas.conf", which is already available in the moira-api 2.0-beta1.2-1 package

[2017-11-08 08:58] ihard opened #42 "Unknown contact type"
config notifire
[code]

[2017-11-08 14:31] ihard opened #43 "telegram notification does not work"
notifier.yml
[code]

token is work for grafana bot - 100%
in log
Nov  8 17:30:23 moira moira-notifier[8659]: 2017-11-08 17:30:23.243#011notifier#011WARNING#011Can't send message after 12 try: Failed to send message to telegram contact @ihard: failed to get username uuid: Nil returned. . Retry again after 1 min

[2017-11-09 06:19] #43 closed

[2017-11-09 06:57] #42 closed

[2017-11-09 11:19] #41 closed

[2017-11-09 11:23] beevee commented on #41
Will be fixed in beta2.

[2017-11-09 15:05] SilentCatVallis opened #44 "Aggregate notifications for mass problems"
Sometimes something bad happens. And many of your triggers fall into NODATA (for example).
It would be nice if Moira could notice the massive problems and replace one million messages with one. One message with the text "everywhere everything is bad" is much more informative than a flurry of alerts.

[2017-11-12 18:11] ihard opened #45 "error timezone in email"
in config notifier.yml
timezone: Europe/Moscow
in web interface - all ok
in email notifification - time UTC

[2017-11-12 19:56] borovskyav commented on #45
Hi! Have you this problem in notification in another sender (for example, telegram)?
Or can you see log message during launch moira-notifier? You must see message like ```Timezone 'Europe/Moscow' load failed: 'error message'. Use UTC.``` or ```Timezone '%s' loaded.```

[2017-11-12 21:02] ihard commented on #45
Yes, in telegram also UTC
in log
 Nov 12 23:56:51 moira systemd[1]: Started Moira is alerting system based on graphite data.
Nov 12 23:56:51 moira moira-notifier[4386]: 2017-11-12 23:56:51.266#011notifier#011INFO#011Timezone 'UTC' loaded.
Nov 12 23:56:51 moira moira-notifier[4386]: 2017-11-12 23:56:51.269#011notifier#011INFO#011Sender mail registered
Nov 12 23:56:51 moira moira-notifier[4386]: 201

[2017-11-12 21:21] borovskyav commented on #45
Oh, i have found some bugs in default configs in pkg. Fixed it here: https://github.com/moira-alert/moira/commit/2257ce5c917647b6dab63c30f532117f71978f63. Try to fix it in your configs

[2017-11-12 21:42] ihard commented on #45
now is ok - thank you!

[2017-11-12 21:42] #45 closed

[2017-12-11 16:57] #13 closed

[2018-01-09 09:16] 2autunni opened #55 "moira-cli-2.0.0-1.x86_64.rpm doesn't work"
Trying to install moira-cli using
`rpm -i moira-cli-2.0.0-1.x86_64.rpm`
the command fails with the message

this happens because the package contains the empty directory /usr/lib/systemd/system/

[code]

[2018-01-09 11:43] #55 closed

[2018-01-09 11:57] melnikk commented on #55
RPM will fixed with next feature tag.

[2018-01-09 13:08] 2autunni opened #56 "malformed config files installed by rpm"
The RPMs of  moira-filter, moira-checker and moira-notifier install malformed config files; in each there is at row 6:

[code]

instead of

[code]

so starting services fails with errors like these:

/etc/moira/notifier.yml has one more problem:

[code]

instead of

[code]
so strarting the service returns this error

[2018-01-09 19:19] ihard opened #57 "Notifier tries to deliver messages to the contact that has been deleted"
Notifier tries to deliver messages to the contact that has been deleted.
After deleting the subscription - messages are still trying to get.
Is there a ttl?

in log:
[code]

[2018-01-10 07:24] #56 closed

[2018-01-10 07:25] melnikk commented on #56
RPM will fixed with next feature tag.

[2018-01-10 08:10] beevee commented on #57
Yes, there is a ttl, configured here: https://github.com/moira-alert/moira/blob/master/pkg/notifier/notifier.yml#L15

24 hours by default.

You can also manually delete this notification at `https://moira.example.com/notifications` hidden url.

[2018-01-10 08:21] ihard commented on #57
Thank you!

[2018-01-10 08:21] #57 closed

[2018-01-17 08:32] 0x62ash opened #60 "Timestamp format in alert email"
Just got alert email with timestamp - `09:51 17.01.2018`.
Is it possible to change it to ISO8601 with time zone?

[2018-02-27 08:02] avinchakov opened #68 "Slack notifier formatting not work"
Suddenly, the formatting of our application and bot messages stopped working. About 3-4 weeks ago. At the same time, the formatting works in the mobile application.

I suspect that the issue is the parameter here: [https://github.com/moira-alert/moira/blob/d2fed3254ce7e405f523f52261092c024d2e6d2d/senders/slack/slack.go#L65](https://github.com/moira-alert/moira/blob/d2fed3254ce7e405f523f52261092c02

[2018-02-27 08:45] kamaev commented on #68
Hi! Yes, applications must add key "mrkdwn":true to use Slack's markdown.
"Markdown" is parameter of PostMessageParameters struct from nlopes/slack library (https://github.com/nlopes/slack/blob/master/chat.go#L34) which actually uses "mrkdwn".
You also found this line because we fixed the issue with Slack's markdown in https://github.com/moira-alert/moira/commit/d2fed3254ce7e405f523f52261092c024d2

[2018-02-27 08:50] avinchakov commented on #68
Oh, thank you. I will wait for it.

[2018-02-27 08:50] #68 closed

[2018-03-02 21:29] kamaev commented on #12
closed in https://github.com/moira-alert/moira/pull/67

[2018-03-02 21:29] #12 closed

[2018-03-06 07:46] logicall opened #71 "prometheus and moira"
Добрый день!

Скажите, а вы не рассматривали использование prometheus (https://prometheus.io) как дополнительный источник метрик?

[2018-03-08 11:27] borovskyav commented on #71
Привет! Сейчас мы не рассматриваем прометеус по нескольким причинам: у прометеуса как я слышал своя вполне неплохая система алертинга, делать еще одну смысла не видим; сейчас мы сосредоточены на более плотной интеграции мойры и графита и развитии нотификаций. Если у тебя есть годные аргументы, почему нам стоит использовать мойру для прометеуса, пиши, нам интересно)

[2018-03-08 11:40] borovskyav commented on #60
Hm, we can add event timestamp format as notifier configurable parameter, is this decision for you?

[2018-03-10 16:57] 0x62ash commented on #60
Yes, please

[2018-03-15 17:48] #71 closed

[2018-04-03 09:28] titusjaka commented on #60
Closed by #74

[2018-04-03 11:04] titusjaka commented on #60
Reopen until stable version is published on docker hub.

[2018-04-04 11:46] #60 closed

[2018-04-10 12:55] #16 closed

[2018-04-26 13:36] 0x62ash opened #78 "Enable alerts only for selected days interval"
Hello,
We need alerts only for interval 1-25 jan, 1-25 apr, 1-25 jul, 1-25 oct (да, да, это отчетсность по НДС).
This is because our metrics could show 0 value on days outside these intervals.

[2018-05-08 14:44] usbulat opened #81 "Can't send message WARNING"
Hi

I'm trying to set up Moira.
Install it using released deb packages (from here https://github.com/moira-alert/moira/releases). Version 2.2.0-1

Trying to set notification, but no success.

notifier log shows:
WARNING	Can't send message after 41 try: Unknown contact type 'mail' [package of 1 notifications to user@domain.com]. Retry again after 1 min

--- notifier.yml
[code]

--- web.json
[code]

[2018-05-10 10:41] usbulat commented on #42
Hello.
Did you solve this issue? I facing the same problem/

[2018-05-11 06:09] titusjaka commented on #81
Hi Bulat,

Thank you for reaching out!
Could you please format your config file? YAML files demand whitespaces, but it's not properly formatted. It will facilitate understanding of config and speed up the solution of your issue.

[2018-05-11 06:52] usbulat commented on #81
@titusjaka Hi Denis, thank you. I've fixed formatting.

[2018-05-11 14:12] usbulat commented on #81
Tried your config, but no success. Still same message:
WARNING	Can't send message after 6 try: Unknown contact type 'mail' [package of 1 notifications to user@gmail.com]. Retry again after 1 min.

What else can be the reason of this problem?

[2018-05-11 17:17] titusjaka commented on #81
Any other log messages out there? Could you please attach log file from notifier startup to error?

[2018-05-14 13:41] usbulat commented on #81
Thank you so much @titusjaka. I've managed to configure notifier, I was using wrong config.

[2018-05-14 13:41] #81 closed

[2018-05-15 09:27] titusjaka commented on #81
@usbulat the other question is how did you fix your issue? Would you mind me asking you to describe the solution?

It would help us to improve documentation :)

[2018-05-16 07:07] usbulat commented on #81
Yes, comment in [https://github.com/moira-alert/moira/issues/42#issuecomment-388018750](url) was related to my problem. It is all ok in documentation, just my automation bug.

[2018-05-16 15:19] usbulat opened #84 "API for exporting and importing triggers, delivery channels and subscriptions"
Hello,

Is there any http api for exporting triggers, delivery channels and subscriptions (e.g. to json) to backup them, and any api for their import to new moira installation?

[2018-05-17 07:44] titusjaka commented on #84
Hi Bulat,

If you are familiar with Python, you can use Moira Python Client for these goals: https://github.com/moira-alert/python-moira-client.

[2018-05-18 11:28] titusjaka commented on #84
Hi @usbulat,

Let me know, if you have further questions about API? If Python Client doesn't fit your purposes, you can use HTTP directly. Unfortunately, API is not listed in documentation yet, but you can dive into it here: https://github.com/moira-alert/moira/blob/master/api/handler/handler.go

If you have any question, feel free to ask here or in [Telegram Chat](https://t.me/moira_alert). (You

[2018-05-21 09:46] maxnasonov opened #85 "Configure triggers declaratively"
I'm aware of the python client. Is it the only way to describe and apply triggers programmatically?

[2018-05-21 10:03] kamaev commented on #85
Hi! Yes, right now python client is the only official api client

[2018-05-23 13:47] usbulat commented on #84
Hi @titusjaka ,

Your link to handler.go file really helped me. Thank you so much!

[2018-05-23 13:47] #84 closed

[2018-05-24 11:40] usbulat opened #86 "No ID is given to contact when adding it using api"
Hi,

v2.2.0-1
When using api to create contact with certain ID
[code]
the contact is created, but without ID.

contact.json file is:
[code]

[2018-05-24 13:04] #86 closed

[2018-05-24 13:11] titusjaka commented on #86
Hi Bulat,

Thank you for noticing this issue. It was a bug in API, we've already fixed it in last commit. This changes will be available in the coming release 2.3.

If you need this behavior on your daily basis right now, you can download sources and build it by yourself: [Build Moira Microservices](https://moira.readthedocs.io/en/latest/installation/manual.html#build-moira-microservices).

[2018-05-24 13:23] titusjaka commented on #86
You can also install the latest version of Moira using docker: [Docker installation](https://moira.readthedocs.io/en/latest/installation/docker.html)

[2018-06-07 17:14] #85 closed

[2018-06-09 08:02] vraskoshnyy opened #89 "алерты в Telegram падают вне зависимости от настроек в "watch time""
Заметили странное поведение - алерты от Мойра приходят во интервал времени, который не входит в "watch time".
Т.е. например, в watch time указано "At specific interval: 12:00 - 23:59"
а уведомление в телегу прилетело в 10:09.
Проверьте, пожалуйста.
Спасибо.

[2018-06-09 19:42] borovskyav commented on #89
Привет! Мы постараемся на днях посмотреть, воспроизвести у себя, спасибо =)

[2018-06-27 09:33] usbulat opened #167 "Change color and state of metric when turn on the maintenance"
Hello,

Is there any way to change color and state of metric when turning on the maintenance? For example, if we have error (red) state for some metric but we turn maintenance for it (because we wan't to ignore it for some time), as I understand we won't get any notification for it. But is it possible to change state from error to another?

[2018-07-27 11:13] titusjaka opened #100 "We need better expression checks"
I can write in expression box mostly whatever I want:

![image](https://user-images.githubusercontent.com/5277948/43317858-04f3ec46-91b8-11e8-9369-d338e78719d2.png)

[2018-08-02 13:39] genuss opened #104 "Allow windows line endings in protocol"
Hi! It looks like windows `\r\n` is not allowed as line delimiter in moira however for example `collectd` uses this delimiter since the very beginning (see https://github.com/collectd/collectd/blob/master/src/utils_format_graphite.c).
Could you please allow these two characters as separators?

[2018-08-03 07:35] titusjaka commented on #104
Hi,
Do you use Graphite-relay and which one? It seems to be relay's goal to trim line endings and resend to graphite storage and Moira in proper format.

[2018-08-03 10:52] genuss commented on #104
No I don't  use relay, I just put metrics directly to moira. It was a test environment, I just picked up the docker-compose installation https://github.com/moira-alert/doc/blob/master/docker-compose.yml
Should I make the architecture like that?
[code]

[2018-08-06 08:54] titusjaka commented on #104
Yep, that should work fine 😄

[2018-08-06 08:56] genuss commented on #104
Allright, will try that.

[2018-08-06 08:56] #104 closed

[2018-08-09 13:17] vraskoshnyy commented on #89
Привет. Получилось?
У меня стабильно воспроизводится(

[2018-08-09 15:33] vraskoshnyy commented on #89
И ещё хотел добавить. Триггер может быть со статусом error в watch time, которое нам не интересно (за его границами), но при этом на общем dashboard он будет показан с переключателем "Only problems". Кажется, что это не совсем логично. Т.е. если мне не нужно знать состояние триггера в период, например, с 00 до 07, то зачем его показывать как с "проблему"? Может сделать системную настройку, чтобы м

[2018-08-09 16:51] borovskyav commented on #89
Привет! Так увлеклись релизом 2.3 что совсем забыли. На следующей неделе зарелизим 2.3 и постараемся заняться проверкой бага одной из первых задач. Сории за ожидание(

[2018-08-09 16:59] borovskyav commented on #89
По поводу watch time - спасибо за реквест, мы сейчас активно пречесываем логику с мейнтенансом метрик в триггере, в релизе 2.3 немного переработали механику работы мейнтенанса. В 2.4 продолжим причесывать, накопилось уже несколько разных реквестов, например https://github.com/moira-alert/web2.0/issues/153. Добавили твой реквест в список.

[2018-08-13 08:09] vraskoshnyy commented on #89
Привет, я живу в MSK.
"tzOffset":-300"

[2018-08-13 08:39] vraskoshnyy commented on #89
Круто, спасибо)

[2018-08-13 08:41] borovskyav commented on #89
https://github.com/moira-alert/web2.0/issues/172

[2018-08-13 12:26] vraskoshnyy commented on #89
Понял, спасибо.

[2018-08-13 13:58] sashasushko commented on #89
Fixed on front.

[2018-08-14 04:50] titusjaka commented on #89
moira-alert/web2.0#173

[2018-08-14 05:38] sashasushko commented on #89
This may not help. I check today trigger edit logic.

Because, I think, we don't change timezone, when user edit trigger. It's unobvious behavior. So... we need to discuss it before change this logic.

[2018-08-14 07:13] sashasushko commented on #89
Unfortunately, it's true. Timezone set once when trigger create.

@vraskoshnyy you need to recreate trigger.

We will think how fix this behavior in next release.

[2018-08-16 08:47] bulat-gab opened #109 "Alert with NODATA state triggers when it should be in OK state"
I have setted up some alerts and chosen to set OK state if there are no values. Part of my alerts work fine. However I'm getting notifications about NODATA state for those metrics that never had values.

![image](https://user-images.githubusercontent.com/14952031/44197693-0c3f6a80-a148-11e8-99c3-062a9525b864.png)

[2018-08-16 10:00] vraskoshnyy commented on #89
@sashasushko  ок, пересоздам

[2018-08-27 09:04] sashasushko commented on #100
Please, move issue to main Moira repo.

[2018-09-06 10:50] vkochev opened #123 "Expected to see a webhooks in moira (use case inside)"
We want a service (daemon) to track statistics from different sources (graphite is one of the sources).

In case the statistics indicate problems in our application, the daemon will help to display a message for users on the application page.

[2018-09-06 11:07] kamaev commented on #123
Hi! It seems that web services shouldn't trigger transitions into a bad state this way.
This mechanisms should belong to services itself (have inner counters of processed items, /health status in api, etc..), not monitoring or alerting tools.
I'll keep this ussue open, but this feature won't solve the problem you described.

[2018-09-06 11:26] vkochev commented on #123
The demon's purpose is only to warn the developer and help to display the message. The decision is made by the developer.

Health-status is one of the ways, of course.

[2018-09-21 06:34] #89 closed

[2018-09-21 06:41] titusjaka commented on #78
Hello,
We discussed this issue and came to the conclusion it doesn't fit Moira scheme. If you want to automate this behavior, you can do it using CI/CD (e.g. Teamcity) and [Moira Trigger Role](https://galaxy.ansible.com/moira-alert/moira-trigger-role).

[2018-09-21 06:41] #78 closed

[2018-09-21 06:42] #100 closed

[2018-12-05 20:25] biancalana opened #142 "Tags support"
Does moira support tags for configure triggers ?
For tags I mean Graphite since 1.1.x series, supports storing data using tags to identify each series. (https://graphite.readthedocs.io/en/latest/tags.html)

[2018-12-10 18:47] kamaev commented on #142
Hi, @biancalana!
Unfortunately not. But we're planning on adding this feature in the next 2-3 months.

[2018-12-19 13:31] kamaev commented on #7
implemented in: https://github.com/moira-alert/moira/pull/148
will be featured in upcoming 2.4 release

[2018-12-19 14:03] #7 closed

[2018-12-28 11:07] borovskyav opened #163 "redigo: getting dial tcp: connect: cannot assign requested address"
Отжирает все коннекции при большой нагрузке

[2018-12-28 18:03] borovskyav opened #164 "Debug weird metric spike"
Разобраться, чем был вызван этот всплеск, который непонятно откуда появился. Кажется на основе данных во сложениях можно спокойно писать тест

[2018-12-28 18:09] borovskyav commented on #164
![default](https://user-images.githubusercontent.com/7278994/50524087-8cfa7400-0af5-11e9-9128-39359d7df33d.PNG)

[2018-12-28 18:09] borovskyav commented on #164
[data.zip](https://github.com/moira-alert/moira/files/2715414/data.zip)

[2018-12-28 18:11] borovskyav opened #165 "Триггер без метрик перешел в состояние NODATA (это все правильно). Но нет никакого сообщения в вебе для пользователя"

[2018-12-28 18:12] borovskyav opened #166 "Process last-checks that do not have any metrics stored"
При удалении last check'а мы удаляем все метрики по паттернам триггера. После этого, если по оставшимся каким-то из last check'ов больше не приходят метрики, то у этих last check'ов больше не будет происходить поверка и никогда не поменяется состояние.

Как это сказывается на пользователе:
1. Мы никогда больше не отравим по таким метрикам эвент, о том что метрика в NODATA
2. Мы не удалим такие мет

[2018-12-28 18:15] borovskyav commented on #165
![image 1](https://user-images.githubusercontent.com/7278994/50524240-65f07200-0af6-11e9-9e96-b50fd0c776ef.png)

[2018-12-28 18:15] borovskyav commented on #165
![image](https://user-images.githubusercontent.com/7278994/50524245-6be65300-0af6-11e9-9c32-9d91c0026e7a.png)

[2018-12-28 18:20] borovskyav opened #168 "Fix eternal loader on nonexisting trigger page (mobile)"
При открытии мобильной мойры по ссылке на несуществующий триггер видим вечную крутяшку. Хочется видеть нормальное поведение интерфейса.

[2018-12-28 18:21] borovskyav opened #169 "Review tag sorting in dropdown lists"
Хочется в результате поиска выводить теги совпадающие по префиксу, а потом уже все остальные.

[2018-12-28 18:21] borovskyav opened #170 "Debug wrong time range in remote trigger requests"
Сейчас по UTC - 1542799764

Есть вот такой триггер
https://moira.skbkontur.ru/trigger/VostokProductionConsumerMessagesCountTooLow

В нём вот такой таргет
```aliasByNode(movingMax(vostok.prod.*.grouphost.vostok*.message_count,'6h'),2,4)```

Если запросить это в carbonapi (https://graphite.skbkontur.ru/carbonapi/render?format=json&target=aliasByNode(movingMax(vostok.prod.*.grouphost.vostok04.message

[2018-12-28 18:27] borovskyav opened #171 "Do not allow creating simple mode trigger with several targets via API"
There are two types of triggers in Moira: simple mode and advanced mode.

In simple mode you can specify one target, and in advanced mode you can specify several targets. Web UI enforces this, but API does not. Therefore, using API you can create simple mode triggers with several targets.

Consider this trigger, created from API:

[code]

It is a simple mode trigger, created via API. Simple trigge

[2018-12-28 18:28] borovskyav opened #172 "Fix rising/falling mode selector when switching between simple and advanced modes"
![2018-11-28_16-48-32](https://user-images.githubusercontent.com/7278994/50524568-4fe3b100-0af8-11e9-86da-20730661fa96.gif)

[2018-12-28 18:30] borovskyav opened #173 "Make moira-url configurable in web docker container"
ToDo:
- [x] придумать, где хранить подобный конфиг
- [x] реализовать такой конфиг
- [x] научить веб с ним работать

[2018-12-28 18:31] borovskyav opened #174 "Urlencode properly everywhere"
Сейчас у нас с этим возникают проблемы, когда мы, например, пытаемся сделать действие с каким-нибудь тегом со служебными символами типа #

[2018-12-28 18:33] borovskyav opened #175 "Do not show tags that exist in local browser storage, but don't exist server-side"
При входе на главную страницу мойры мы пытаемся подставить в поисковую строку теги из хранилища браузера. Если в хранилище сохранен какой-нибудь тег, но его нет в мойре, то он всеравно подставится.

[2018-12-28 18:34] borovskyav opened #176 "Fix layout with long words (or URLs) in trigger description and name"
Сейчас в описание триггера можно вставить длинную ссылку (например), и она раздвинет страницу по горизонтали. Особенно в мобильной версии заметно. При длинном названии триггера едут иконки справа.

[2018-12-28 18:35] borovskyav opened #177 "Add meaningful title to all pages"
Проблема: сейчас когда смотришь в историю страниц везде видишь просто "Moira". Почему бы не сделать нормальное описание каждой страницы

[2018-12-28 18:36] borovskyav opened #178 "Get rid of useless broken links in test notifications"
Надо выпилить бесполезные ссылки http://moira-url/trigger из уведомлений не связанных с триггерами, например из тестовых.

[2018-12-28 18:37] borovskyav opened #179 "Fix multibyte splitting bug in graph titles"
Сейчас обрезаются побайтово, а надо посимвольно

[2018-12-28 18:38] borovskyav opened #180 "Fix publicly accessible icons for Slack sender"
ОКАЗЫВАЕТСЯ мы иконки для слака брали из веба мойры. Мы про это забыли когда переписывали этот самый веб. Хочется вернуть эти иконки назад и сделать так чтобы они были доступны без авторизации. Так же хочется добавить какую-нибудь документацию по поводу того как
отдаются эти иконки.

Ссылка на старые иконки: https://github.com/moira-alert/web/tree/master/static/public

Должны отдаваться по адресу:

[2018-12-28 18:39] borovskyav opened #181 "Get rid of old ugly mail template"
Мы уже переехали на новый шаблон триггеров, но у нас сейчас всеравно есть возможность включить старый шаблон, надо выпилить его. Навсегда.

[2018-12-28 18:40] borovskyav opened #182 "Mark all dangerous Graphite functions as such (show a warning)"
Если в поле есть функция summarize (как пример, нужно составить список всех неугодных функций), подсвечивать желтым, показывать тултип с описанием, почему так. Надо составить список таких функций. Допилить документацию.

ToDo:
- [ ] Backend
- [ ] Frontend
- [ ] Doc

[2018-12-28 18:41] borovskyav opened #183 "Fix inconsistencies in page contents between mobile and desktop interfaces"

[2018-12-28 18:43] borovskyav opened #184 "Get rid of deprecated 2.2-related conversion code"
Порвать все конвертилки, которые зашиты прямо в код при вычитывании объектов из базы. Заодно починится баг с невозможностью сохранять старые служебные триггеры.

[2018-12-28 18:44] borovskyav opened #185 "Support fulltext search API on web"
В версии 2.4 появилась возможность использовать полнотекстовый поиск по триггерам, теперь самое время втащить это на фронт

**upd 18.01.2019**

ToDo:
- [ ] переделать дизайн выдачи триггеров
- [x] добавить подсветку найденного вхождения
- [x] добавить кусок описания, если найденное вхождение в нём
- [x] удаляется поведение по Enter для выбора последнего или единственного найденного тега
- [x] по E

[2018-12-28 18:46] borovskyav opened #186 "Execute self-check only once, regardless of how many notifier instances are running"
Сейчас если у тебя 3 реплики нотифаера, то при нестабильной работе мойры (срабатывания self check'a) тебе придет не одно уведомление а 3. Надо это починить.

[2018-12-28 18:47] borovskyav opened #187 "Обобщить логику exactly once семантики тасок."
Сейчас уже есть две такие таски:
Обработчик команд от Telegram'a
NODATA checker

В планах:
SelfChecker

Каждый раз это копипаста трех методов в database и кучи логики. Пока все это обобщить.

[2018-12-28 18:49] borovskyav opened #188 "Fix last two points on graphs when allowRealtimeAlerting is disabled"
В графиках видна дыра в конце. Метрика чекается на минуту позже, чем должна, если она не realtime

[2018-12-28 18:53] borovskyav opened #189 "Функции графита: baseline, baselineAbberations"
Ждем от парней https://github.com/errx/carbonapi/commit/ef9d591cfcc0ecd2e21e9fe912a03fff1dbbe11e PR в carbon-api и втаскиваем

[2018-12-28 18:58] borovskyav opened #190 "Do not allow users to set TTL larger than internal storage window"
Сейчас при чеке триггера берется интервал с учетом TTL, тоесть есть TTL = 10 min, то мы возьмем промежуток равный:
from: время последнего чека - TTL
to: now.

Соответсвенно если TTL слишком большой то мы берем неоправданно большой промежуток, даже если за такой промежуток нет. Самое плохое, к чему это может привести это утечка всей памяти (оооочень большой TTL).

Самое простое решение: ограничить

[2018-12-28 18:59] borovskyav opened #191 "Эскалации"
Ждем PR от парней: https://github.com/errx/moira. Доделываем с учетом наших потребностей и для всех сендеров.

[2018-12-28 19:18] borovskyav opened #192 "Tell user who turned on maintenance mode (and when)"
При выставлении maintenance совершенно не понятно, кто это сделал. Это может привести к вопросам, что делать с метрикой в тот момент, когда прошел maintenance интервал. Маинтейнить снова или уже все хорошо?

В первую очередь хочется знать, кто ставил maintenance на метрику.
Можно подумать о том, стоит ли вводить возможность написать комментарий к maintenance.

Стоит подумать:
Как это показывать?
К

[2019-01-05 16:40] borovskyav commented on #182
Самое интересное:
Синхронизироваться с текущей версией локальной carbon-api и тем списком функций, которая там есть. Пакет metadata.go, наполняется всеми необходимыми функциями при старте приложения (проверить).
Синхронизироваться с функциями, которые есть в remote графите (если есть соединение), для этого есть метод ```GET /functions/```.

На основании списка для каждого сорца строить список "пло

[2019-01-05 16:42] borovskyav commented on #182
Рассмотреть возможность показа предупреждения при выставлении большого интервала для функций типа ```moving...```. Рекомендовать использовать remote графит, если такая опция доступна.

[2019-01-09 10:58] sashasushko commented on #165
По итогам обсуждения:

- по аналогии с сообщением про `EXCEPTION` состояние показываем предупреждение во всех состояниях, кроме `OK`

[2019-01-09 11:03] sashasushko commented on #175
По итогам обсуждения:

- проверить насколько быстро будет отрабатывать код, который сравнит теги в `localstorage` со списком тегов на бэкенде
- по итогам замеров либо пофиксить, либо оставить как есть

[2019-01-09 11:06] sashasushko commented on #180
По итогам обсуждения:

- перенести иконки к нам
- совместно с @kamaev решить, как отдать наружу только папку public
- зафиксировать это в документации и докер-композ файле

[2019-01-09 11:10] sashasushko commented on #185
По итогам обсуждения:

- решить по дизайну
- обсудить с остальной командой

[2019-01-09 11:40] sashasushko opened #194 "Update npm dependencies and lock their versions"
Необходимо привести и поддержать актуальность сторонних библиотек. Зафиксировать конкретные их версии во избежание.

[2019-01-09 11:44] sashasushko opened #195 "Fix Flow coverage"
Прежде, чем браться за рефакторинг и доработку, необходимо подстраховаться и убедится, что покрытие типами максимальное.

[2019-01-09 11:47] sashasushko opened #196 "Change linter rules to AirBnB style"
Необходимо для того, чтобы контрибьютить в проект было проще, а поддерживать набор правил - не приходилось вовсе.

[2019-01-09 13:07] sashasushko commented on #180
Решено следующее:
- подготовить иконки для всех состояний триггеров
- отразить в документации, куда загрузить их в Слаке и как прописать в конфиге
- приложить в документации наши "нейтральные" иконки, на случай, если клёвые ребята, которые хотят использовать Мойру, не хотят заморачиваться с рисованием

Потому что:
- нам не нужно думать, как сделать папку `public`
- клёвым ребятам, которые планирую

[2019-01-09 13:32] beevee commented on #192
![2019-01-09_18-30-10](https://user-images.githubusercontent.com/1009675/50902529-ebe8b300-143c-11e9-9c5e-bdb385367b68.png)

[2019-01-09 14:13] kamaev opened #197 "Improve metricsToShow resolving logic"
- Не рисуем картинки для triggerEvent'ов
- Не рисуем картинку если на ней кроме трешхолда ничего нет

[2019-01-09 14:46] beevee commented on #180
Если выпиливаем папку `public`, то надо не забыть, собственно, ее выпилить. Чтобы не оставалось легаси.

Но у меня есть вопрос. Мойра присылает зеленую иконку, когда алерт со статусом `OK`, и красную, когда алерт с другим каким-нибудь статусом. Через веб-админку Слака для бота можно загрузить только одну иконку. Разные иконки для разных сообщений достигаются путем передачи в API вместе с сообщение

[2019-01-09 14:55] sashasushko commented on #180
В 2.0 версии фронта папки уже нет. @kamaev проверь, пожалуйста, нет ли ничего для неё на бэке. Или делегируй знающим.

Иконок можно загрузить столько, сколько надо. Погляди на наше пространство — https://kontur.slack.com/customize/emoji Подцепить к боту можно разные картинки по условию, @kamaev ответит лучше меня на этот вопрос.

Только если не хотят добавлять их в свой Слак. В варианте со Слаком

[2019-01-09 17:17] borovskyav commented on #165
Нужны правки на стороне чекера, когда переводим триггер в NODATA, то для этого есть причины.

[2019-01-09 17:42] kamaev commented on #180
Да, сейчас план просто заюзать поле `IconEmoji` вместо `IconURL` и прокинуть в конфиг поле `use_emoji`. С Мойрой будем поставлять полный набор иконок и список алиасов, которые понадобятся слаку, чтобы распознать какую иконку запросил сендер. В доку добавим ссылку как добавить в слак кастомный emoji.

[2019-01-09 17:51] #23 closed

[2019-01-09 17:53] kamaev commented on #180
Старые иконки были только в вебе: https://github.com/moira-alert/web/tree/master/static/public

[2019-01-10 06:59] beevee opened #200 "Enhance NODATA protection"
## Как делать

Добавляем новый тип контакта — выключить Мойру. Это такой контакт, который переводит Мойру в состояние выключенных уведомлений, когда в него приходит любой негативный (!) эвент.

Этот контакт виден только администраторам Мойры. Только они могут создать подписку с этим контактом.

## Оригинальная формулировка

Рассматриваю это как MVP. Посмотрим, как будет работать. Если будет что ул

[2019-01-10 07:09] beevee commented on #200
Конкретные значения для всех параметров взял из головы. Предполагаю, что значения этих параметров будут отличаться для разных инсталляций Мойры в зависимости от количества релеев, конфигурации сети и прочего. Отдельно нужно исследовать, какие значения будут хорошо работать для нас. Например, `c=0.7` я написал исходя из того, что у нас три релея. При равномерной нагрузке падение одного релея будет

[2019-01-10 10:09] beevee commented on #200
А если нет NodataProtector-ов? Тогда отключается защита? А существующий способ защиты будем на новые рельсы переводить? Если не будем, получится два разных способа (плохо). Если будем, то хорошо бы, чтобы он по умолчанию у всех был, без создания чего-то вручную. Получается, нужно будет при установке Мойры какое-то количество дефолтных NodataProtector-ов заводить.

[2019-01-10 10:43] kamaev commented on #200
Тогда будет только основной способ работать

Если при обсуждении п.2 прийдём к тому, что небольшой разницей во времени между:
- первым выставлением одному из меченых триггеров статуса `не-OK` **(чекер)** и
- сменой значения `moira-selfstate:notifier-health` **(нотифаер)**

можно пренебречь - то все можно будет оставить на старых рельсах

Можно вхардкодить дефолтные переменные (в т.ч. таргет), для

[2019-01-10 10:44] kamaev commented on #200
*дефолтные значения переменных

[2019-01-11 05:13] beevee commented on #200
Я придумал смешную идею.

Давайте не будем делать специальные триггеры типа NodataProtector. Давайте сделаем специальный тип _контакта_ — «выключить Мойру». Тогда мы можем подписывать выключатель Мойры на любой обычный триггер, или даже на несколько триггеров. Этот контакт может быть доступен только ограниченному кругу пользователей.

[2019-01-11 06:55] borovskyav commented on #192
`— записывать в базу, кто и когда установил maintenance`

 Ты описал ситуации, когда maintenance закончился сам и мы прислали алерт, а не хотим говорить, что если maintenance был снят вручную, то кто его снял?

[2019-01-11 08:35] beevee commented on #192
Да, можно писать.

Maintenance was set by user alexkir at <time> on <date> and removed by user kamaev at <time2> on <date2>.

[2019-01-11 09:51] titusjaka commented on #200
Чёрт, а это может сработать

[2019-01-13 08:08] #197 closed

[2019-01-14 07:30] sashasushko commented on #180
ps. Ну и к нам в Слак можно втащить ;-)

[2019-01-14 07:43] sashasushko commented on #194
Closed by https://github.com/moira-alert/web2.0/pull/209

[2019-01-14 07:43] #194 closed

[2019-01-14 12:34] #184 closed

[2019-01-16 08:12] beevee commented on #123
Хочу в 2.5 такой MVP:

Добавляем новый тип контакта webhook. Этот тип контакта параметризуется единственной строкой: URL, куда отправлять запросы. На каждый эвент по этому URL делается POST-запрос с телом в формате JSON, содержащим информацию об эвенте. Содержимое JSON нужно обсудить исходя из того, какая информация есть в эвенте.

Дальнейшим развитием в следующих версиях может быть кастомизация т

[2019-01-16 12:41] sashasushko commented on #175
А ещё меня бесит, что при сохранении в `localstorage` тега с главной, чтобы отфильтровать триггеры, он подставляется в форме создания тригера.

[2019-01-16 18:04] beevee commented on #175
А ты можешь просто в фоне время от времени подтаскивать тэги с бэкенда и обновлять локалсторадж? Так, чтобы пользователь этого не заметил. Или я неправильно проблему понял?

[2019-01-17 06:30] sashasushko commented on #175
Это не решит проблему, когда пользователь зашёл: теги у него несуществующие, а значит мы не можем подтянуть триггеры

[2019-01-17 07:31] borovskyav commented on #180
- [x] backend
- [ ] doc

[2019-01-17 08:06] #179 closed

[2019-01-17 08:17] borovskyav commented on #180
- [x] backend
- [ ] doc

[2019-01-17 14:41] ihard opened #205 "Пустая картинка при переключении темы"
При переключении темы например со светлой на темную первое сообщение содержит пустую чёрную картинку.
Уведомление в Telegram

[2019-01-17 16:55] borovskyav commented on #205
Привет! Вы стабильно это ловили несколько раз? Мы знаем что есть кейсы, зависящие от триггера, когда прилетает пустая картинка и уже их пофиксили в #197.

[2019-01-18 01:11] #180 closed

[2019-01-18 08:05] sashasushko opened #209 "MVP for Collections"

[2019-01-21 04:54] borovskyav commented on #165
Предлагаю немного прибраться в интерфейсе предупреждения. Я много раз стадкивался с тем что много людей не обращают внимания на ошибку и пишут в саппорт. На днях соберу тексты всех ошибок. Предлагаю скинуть Кате, надо сделать чтобы ошибку замечали.

[2019-01-21 17:30] ihard commented on #205
Не получилось воспроизвести, закрываю.

[2019-01-21 17:30] #205 closed

[2019-01-21 17:35] borovskyav opened #211 "Рендерить название триггера в сообщении в Телеграме ссылкой на сам триггер"
В последних версиях телеграма, можно делать любой текст ссылкой, предлагаю переделать наше сообщение в телеграме и рендерить название триггера ссылкой на сам триггер как это сделано у нас в слаке.

[2019-01-21 19:17] ihard commented on #211
Ещё бы отдельное поле для произвольной ссылки и именем  (на график в графане или на описание на вики) и тоже вставлять как ссылку в сообщение.

[2019-01-22 06:51] borovskyav opened #212 "Добавить отдельное поле для произвольной ссылки, которое будет отправляться вместе с алертом"
Основано на комменте https://github.com/moira-alert/moira/issues/211#issuecomment-456175279.

[2019-01-22 06:57] borovskyav commented on #212
Стоит подумать над доработкой description'ов и выводе его (хотябы части) во все уведомления, а не только в слак.

[2019-01-22 07:02] borovskyav commented on #211
@ihard я правильно понимаю что вы сейчас вставляете ссылку прямо в название триггера и по ней переходите? И слаком вы видомо не пользуетесь? Там такой сценарий работать не будет, потому что там имя триггера это и ссылка на него)
Если и правда вставляете, то для вас эта правка все сломает =(

[2019-01-22 07:33] ihard commented on #211
Да, Slack не используем, Telegram +  почта. В именах сейчас почти все триггера такого вида:
`Нет платежей в магазин XX https://clck.ru/XXX`
и из сообщения сейчас можно перейти по ссылке, если прям вот просто включить в сообщении имя тригерра = ссылка, то все поломается :(
как workaround поэтому и просил или поле отдельное для ссылки или вы обсуждали вроде как markdown для description.

[2019-01-22 09:16] borovskyav commented on #211
Понял, значит правка не имеет смысла, таких сценариев я не ожидал, этот issue закрываю.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-22 09:16] #211 closed

[2019-01-22 13:10] #195 closed

[2019-01-22 16:54] borovskyav opened #214 "Нормальная документация по конфигурации script сендера."
В документации не понятно, что и куда нужно писать чтобы нормально завести script сендер.
В чатике был вопросы вот такого вида:

Ответил только порывшись в коде. Нужно это нормально задокументировать, тем более что #123 должен будет иметь примерно похожую документацию.
Цитата ответа из телеграмм канала:

type: script
name: "название своего скрипта"
exec: "путь до скрипта" (подробнее есть в доке)

[2019-01-22 17:49] borovskyav opened #215 "Validate fuctions in target against real Graphite installation in remote triggers"
На нашем стеке: carbon-api, carbon-clickhouse триггер просто молча сохраняется. По нему никогда не будет метрик для чека. Найти способ проверки функций в таргетах на то, есть ли в инсталяции графита функции из тагретов триггера.

[2019-01-22 17:52] borovskyav opened #216 "Expression result must be state value, если введен expression вида t1 < 300 ? ERROR"
Это чинится если добавить ```t1 < 300 ? ERROR : OK```. Кажется нам стоит научиться более умно проверять что у нас введен правильный expression. Можно попробовать запретить вводить expression'ы без обоих операций ```?``` и ```:```.

[2019-01-23 06:32] borovskyav opened #217 "Better ticks for Y-axis on notification graphs"
Current notification graphs can show ugly autogenerated values for Y-axis ticks: **195.06, 210.06, 225.06, 240.06, 254.06, 269.06, 284.06, 298.06**. We need more user-friendly algorithm, something like this: http://vis.stanford.edu/files/2010-TickLabels-InfoVis.pdf

[2019-01-24 09:58] borovskyav opened #219 "В выподашке выбора контакта при создании подписки, не понятен тип контакта"
![image](https://user-images.githubusercontent.com/7278994/51670443-6fcb9f00-1fe8-11e9-9d1b-e921720c0933.png)

[2019-01-24 12:21] sashasushko commented on #219
Пихай, как баг. Иначе в 2.5 не протащить.

[2019-01-24 17:23] borovskyav opened #220 "Добавить нормальную иконку на удаление контакта из подписки"
Сейчас смотрится ну не очень
![image](https://user-images.githubusercontent.com/7278994/51696178-a7593c00-2026-11e9-9732-4e82025269b8.png)

[2019-01-24 17:25] borovskyav opened #221 "Refactor controls in add/edit subscription modal window"
Cancel button in subscription modal window confuses our users. They think it means "Cancel subscription", but it only closes modal window. We should remove this button.

Another problem is that Delete button is not accented enough. User can accidentally click on it and subscription will be deleted without any warning or question. This action cannot be undone. We should make this button red.

See [

[2019-01-24 17:46] borovskyav opened #222 "Научиться проверять контакт на работоспособность при сохранении, оставить только кнопку Create and test"
Сейчас в мойре есть проблема: когда пользователь добавляет новый канал, она не умеет определять что пользователь правильно все сделал, чтобы мойра отправляла алерты (добавил бота в телеграме, пользователь существует в слаке и т.д.). Самое плохое, к чему сейчас это может приводить это бан мойровских ботов на какое-то время. Сейчас мы вручную расследуем каждый случай и пишем владельцам кривых контак

[2019-01-24 17:48] borovskyav opened #223 "Add username column to notification page"
Sometimes Moira administators have troubles with notification delivery when users set incorrect contact value (see https://github.com/moira-alert/moira/issues/222). Administrator needs to find who created this contact and ask this user to fix it.

We use hidden `/notifications` page to solve this task (see [docs on hidden pages](https://moira.readthedocs.io/en/latest/user_guide/hidden_pages.html))

[2019-01-24 17:51] borovskyav commented on #185
На бэке: в ответе на метод Search выводить размеченные поля Description или Name, для подсветки на фронте

[2019-01-28 11:00] borovskyav commented on #222
Подуматьна ситуациями, когда пользователь по каким-то причинам не получает уведомления. Например банит бота в телеге.

[2019-01-28 16:08] borovskyav commented on #182
Попросил @beevee cобрать список «плохих» функций, на которые мы ходим ругаться. Желательно так чтобы это можно было превратить в адекватную документацию.

[2019-01-28 16:15] borovskyav commented on #214
Хочется нормально объяснить человеку, который занимается администрированием мойры, как можно разделять эвенты в зависимости от поля Value в контакте, которое указывает пользователь в вебе при создании контакта.

[2019-01-28 16:19] borovskyav commented on #123
Документацию по этой задаче можно объединить с документацией на script-сендер (https://github.com/moira-alert/moira/issues/214), логика очень сильно похожа.

[2019-01-29 21:48] ihard opened #227 "В типе уведомления script передавать ${trigger_name} как один аргумент"
Сейчас при таких настройках в notifier:
`    - type: script
      name: Jira
      exec: /etc/moira/scripts/jira-create-issue.py ${trigger_name} ${contact_value}
или
`    - type: script
      name: Jira
      exec: /etc/moira/scripts/jira-create-issue.py "${trigger_name}" "${contact_value}"`

если в имени триггера есть пробелы - имя разбивается на несколько аргументов для скрипта, что крайне неудо

[2019-01-29 21:52] ihard opened #228 "Add to script sender $trigger_id variable"
Для использования типа уведомления скрипт было бы удобно получать в качестве аргумента также trigger_id (по аналогии с $trigger_name), его можно сразу использовать или чтобы забрать дополнительную информацию (description например) о триггере по api.

[2019-01-30 05:56] borovskyav commented on #123
Договорились заменять в URL'e вот эти поля:
[code]

Зафиксировали контракт:
[code]

[2019-01-30 06:01] borovskyav commented on #228
Сейчас делаем задачу https://github.com/moira-alert/moira/issues/123. После это сделаем чтобы в path пробрасывались те же самые поля.

[2019-01-30 06:04] borovskyav commented on #227
Как вариант мы можем делать на trigger_name URLEncode

[2019-01-30 06:11] ihard commented on #227
А просто взять в кавычки имя триггера и контакта не получится?
Даже если в строке exec я принудительно их добавляю, в аргументы прилетает разбитая строка по нескольким аргументам.

[2019-01-30 13:45] borovskyav commented on #227
И это помогает?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-30 13:56] ihard commented on #227
Не помогает ) что выглядит совсем нелогично.

[2019-01-30 14:09] borovskyav commented on #227
Блин, я, честно говоря, вообще не понимаю какой смысл было давать это поле и не давать trigger_id. Сейчас большое желание задерпрекейтить trigger_name на самом деле. На крайняк по trigger_id можно и ссылку построить и запрос в мойру сделать.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-30 14:18] ihard commented on #227
про trigger_id согласен, в любом случае как правило требуется доп информация о триггере и получить её проще по id

[2019-01-30 17:09] borovskyav commented on #227
Да, самое то главное что вся инфа по триггеру летит в stdout, Тимур в чате мойры про это где-то месяц назад писал.

[2019-01-30 17:10] borovskyav commented on #227
Ладно, кажется самое логичное кажется задепрекейтить trigger_name и выпилить его в 2.6. А сейчас протащить все те же поля, которые будет подменяться в url'e в #123

[2019-01-31 12:48] sashasushko commented on #183
Еще из интересного:
в мобильной версии можно замейнтенсить несуществующий триггер, потому что там нет состояния ошибки у интерфейса, как в ПК

[2019-01-31 13:03] kamaev commented on #216
Если проверка будет строгой, то сломается паттерн триггера, который мониторит только nodata с "expression":"OK"

[2019-02-01 08:06] sashasushko commented on #192
А для чего это будет храниться? Только для последнего `maintenance`?

Я не могу понять UI, как показывать то, что триггер снят с обслуживания:
- до каких пор это показывать?
- что будет, если триггер дважды ставили и снимали с обслуживания

[2019-02-01 08:07] sashasushko commented on #220
Fixed in moira-alert/web2.0/pull/214

[2019-02-01 08:31] sashasushko commented on #173
@beevee @kamaev нужны ваши мозги

[2019-02-01 08:39] sashasushko commented on #182
@borovskyav нужно проработать два момента:
- нужна схема выражения и критерии плохих функций, чтобы понять, как написать регулярку на ту строку, которую вводит пользователь.
- нужен дизайн, как и где у поля ввода показывать предупреждение.

[2019-02-01 08:42] borovskyav commented on #182
Плохие функции будут прилетать с апи, для этого сделаем отдельный метод. По поводу дизайна, стоит ли сильно запариваться? Обычным тултипом справа с текстом не получится отъехать?

[2019-02-01 08:49] sashasushko commented on #182
Как MVP визуально можно тултип или просто текст снизу. Но тексты "почему?" вдобавок к списку плохих функций нужны всё равно.

[2019-02-01 08:53] borovskyav commented on #182
Для этого я привлек @beevee, который это все в доку оформит, будем на нее ссылку в тултипе давать.
Предлагаю MVP такой: понимаем что в тарегете есть "плохая" функция, подсвечиваем инпут желтым, показываем тултип. В нем имя "плохих" функций (их может быть несколько введено) и краткое описание, почему они"плохие". За подробностями отправляем в доку.

[2019-02-01 09:05] sashasushko commented on #167
@borovskyav раз добавил в 2.5, опиши задачу, что изменится и как будет?

[2019-02-01 09:17] sashasushko commented on #165
@borovskyav ты поставил задачу дизайнеру?

[2019-02-01 10:38] #219 closed

[2019-02-01 10:38] #220 closed

[2019-02-01 10:39] #196 closed

[2019-02-01 11:20] titusjaka commented on #173
Это не то, что нужно? https://webpack.js.org/api/cli/

[2019-02-01 11:41] sashasushko commented on #173
Это тогда нужно package.json править или Makefile

[2019-02-01 17:45] borovskyav commented on #173
А это проблема? Мы же все равно пользователю уже готовую статику даем, все билды через make сами вызываем.

[2019-02-01 18:01] borovskyav commented on #167
Давайте в летучке в понедельник вместе подумаем, у меня есть несколько решений, но я не погу выбрать между сортами)

[2019-02-01 18:03] borovskyav commented on #165
Неа, Саш, сможешь с Катей сам поговорить?

[2019-02-01 19:49] ihard opened #230 "Режим общих подписок и каналов уведомлений"
Наш кейс с авторизацией в мойре - перед ней стоит кастомная страница авторизации (Nginx + ldap), если авторизация прошла ставишься кука ну и пускает дальше в мойру. Заголовок с именем пользователя не ставиться, те все работают под anonymous.
Этот режим удобен тем что любой пользователь видит все настроенные подписки, а не так что один член команды настроил подписки, а другой их даже не видит в инт

[2019-02-01 19:56] ihard opened #231 "Разрешить anonymous удалять или редактировать ранее созданные подписки"
Изначально мы включили у себя режим работы с индивидуальными пользователями, поработав некоторое время поняли что для работы в командах это совсем неудобно и переключили в режим одного пользователя.
Как результат остались индивидуальные подписки которые можно увидеть на странице tags, но которые нельзя удалить или заменить. Пользователи которые их создали тоже уже их не видят, но они есть в базе и

[2019-02-01 20:32] borovskyav commented on #230
Нам режим, в котором пользователи видят чужие подписки и контакты не нравится тем, что для нас эти сущности являются личной информацией пользователей, особенно контакты.

[2019-02-01 20:35] borovskyav commented on #231
Такая потребность тоже у нас есть в первую очередь для удаления подписок уже уволившихся сотрудников и кривых подписок. Не думал что у кого-то еще возникает подобный кейс. В общем мы обдумаем это вопрос на летучке в понедельник. Хотя мне уже год говорят что пора разрешать изменять чужие подписки и контакты :)

[2019-02-01 20:39] borovskyav commented on #230
Кстати для работы команд мы сейчас решаем этот вопрос костылем, заводим нового пользователя, логин пароль есть у всей команды, и они редактируют как хотят этого пользователя. На самом деле это частый кейс, например пользователь для графаны для дашборда на телевизоре, который висит в кабинете или для учетки под который команда устраивает летучки, Команда просит такого пользователя, тем самым людям

[2019-02-01 22:15] ihard commented on #230
Для графаны у себя решили также одним пользователем на read-only, но в графане все же есть немного для работы команд папки и Team :)
Заводить учетки в ldap на команду выглядит слишком over как то.
Не все команды в инструмент пока ходят, поэтому попробуем пока пожить в режиме все видят все.

[2019-02-01 22:18] ihard commented on #231
В идеале, наверное, это добавить в конфиге api например, список пользователей (admins) у которых будет эта возможность изменять чужие подписки и контакты.

[2019-02-03 11:57] #166 closed

[2019-02-04 06:44] sashasushko commented on #173
Давай сегодня на планировании обсудим. Моя твоя не понимать

[2019-02-04 08:07] ihard opened #235 "Ошибка сохранения триггера при создании в "Advanced mode""
Moira - 2.4.0.0-1
Cоздаем новый триггер через web интерфейс, заполняем t1 и выражение например "ERROR if T1 ≥" 5, затем переключаемся в "Advanced mode" и пишем выражение "t1 >= 10 : ERROR".
Переключаемся на Simple mode и сохраняем триггер - результат в web интерфейсе сохранился результат ввода из "Advanced mode" -  "Expression t1 >= 10 : ERROR."

[2019-02-04 08:12] ihard opened #236 "Add special tag (?) to select all triggers for a subscription"
Задача которую хотелось бы решить - подписка которая будет ловить все сработавшие триггеры и отправлять их в отдельный канал уведомлений.
Было бы удобно иметь служебный триггер "any" или "*"  по которому можно было бы создать такую подписку (как workaround да можно конечно создать подписку и просто добавлять в ней все теги руками или скриптом, но выглядеть в интерфейсе это будет очень громоздко).

[2019-02-04 10:47] sashasushko commented on #173
Итак, проблема такая:

путь до АПИ передаётся в конструкторе АПИ в джаваскрипте. При выполнении в браузере. Поэтому его нельзя зачитать ниоткуда, кроме как из `window`.  Зачитать, например, из переменной окружения можно только при сборке.

[2019-02-04 10:48] sashasushko commented on #173
Закинул в чат разработчиков, может, кто-то подскажет идею.

[2019-02-04 11:42] sashasushko commented on #235
Спасибо!

Объединяем с #172

[2019-02-04 11:47] sashasushko commented on #223
Что значит "владелец контакта"? Сейчас есть колонка _Contact_, а что должно быть?

[2019-02-04 11:54] sashasushko commented on #172
Вместе с багом фиксим неявное поведение, когда значения из _Simple mode_ использовались в _Expression_, как переменные.

Теперь при создании нового тригера или редактировании старого засылаем либо `warn_value` и `error_value`, либо `expression`. Если в `expression` они используются как переменные, кидаем ошибку валидации (на сервере и бэкенде).

Таким поведением исправим ошибку "источник правды",

[2019-02-04 11:54] #235 closed

[2019-02-04 12:06] sashasushko commented on #123
@borovskyav а что здесь по вебу?

[2019-02-04 13:37] borovskyav commented on #123
Здесь нет веба :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 13:48] borovskyav commented on #123
@sashasushko наврал! На вебе нужно поддержать новый тип сендера, по аналогии с script сендером.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 14:40] borovskyav commented on #123
В вебе нужно добавить новый тип сендера по типу script с иконкой, договоритесь там с @kamaev какую иконку вставить.

[2019-02-04 14:43] borovskyav commented on #172
На backend'e нужно будет впилить такую же валидацию.

[2019-02-04 14:47] borovskyav commented on #223
В запросе ```https://moira.skbkontur.ru/api/notification?start=0&end=-1```, в котором возвращается массив нотификаций в очереди есть поле ```contact```, сейчас оттуда используется только поле ```value```. Предлагаю еще выводить поле ```user``` (имя владельца контакта) в отдельную колонку.

[2019-02-04 14:49] borovskyav commented on #173
Сейчас как костыльный вариант обсуждаем дать пользователям возможность билдить веб с указанием ```node env {api_path}```

[2019-02-04 14:58] borovskyav commented on #185
Предлагаю в результате запроса search (в апи) добавить новое поле ```highlight``` с массивом элементов, по размеру равным массиву триггеров, и отсортированным в том же самом порядке.
Поля такие:
[code]
Для каждого триггера из массива list предлагаю создавать такой элемент в массиве ```highlight``` с тем же самым индексом в массиве и заполнять те поля, в которых наш движок поиска нашел совпадения и

[2019-02-04 15:00] borovskyav commented on #209
С @kamaev и @sashasushko договорились показывать ссылку на выборку по контакту всегда.
В bleve нужно научиться делать поиск по тегам не только ```tag1 и tag2 и tag3```, но и запросы вида ```(tag1 или tag2) и tag3```

[2019-02-04 15:14] borovskyav commented on #163
Нарыли несколько проблем:
1. Неограниченный пул соединений: решили потестировать, начнем со значения 512 с флагом ```wait``` в клиенте редиса.
2. Перерасход соединений из-за ленивого(через defer) их закрытия, а так же слишком активная аллокация (и возвращение) соединений вместо их переиспользования. хотим сделать несколько шагов:
   - где это нужно вызывать методы доступа в Database с уже полученн

[2019-02-05 10:00] borovskyav commented on #185
Да, это мы уже поняли. Видимо будем возвращать подобный контракт прямо из индекса.

[2019-02-05 11:25] borovskyav opened #240 "Move admin notifications settings from config to regular subscriptions"
Сейчас, когда мы из за работ выключаем нотифаер, пользователь никак не может узнать что мойра не присылает уведомления если не зайдет в сервис. Тупо уведомлять это плохая идея: когда мы делали отключение нотифаера мы как раз подразумевали что не хотим поднимать всех пользователей на уши при работах в сервисе. Но совсем без информирания оставлять тоже не правильно.

[2019-02-05 11:46] kamaev opened #241 "[hidden pages: /notifications ] Remove unnecessary notifications from queue using trigger.Name instead of contact.Value"

[2019-02-06 08:45] #186 closed

[2019-02-06 08:49] borovskyav commented on #236
Эх, а мы только избавились от служебных тегов и тут нам прилетает 2 реквеста за неделю про добавление служебных триггеров =) Хорошо, мы подумаем в следующем релизе как решить эту проблему.

[2019-02-06 09:12] borovskyav commented on #185
Один нюанс @sashasushko не забудь пожалуйста переехать на ```/search``` для поиска вместо ```/page```

[2019-02-07 09:42] kamaev opened #244 "[code purification] timeseries containers naming convention is required"
Related PRs: https://github.com/moira-alert/moira/pull/243

[2019-02-08 07:18] avinchakov opened #245 "Hidden pages и apache"
Всем привет, а сейчас еще работают hidden pages?
У меня конфиг apache2:

[code]
И ни одна скрытая страница не найдена.

[2019-02-08 07:20] borovskyav commented on #245
Привет! Логика отображения скрытых страниц никак не отличается от логики отображения других страниц и никаких проблем от настроек балансировщика возникнуть не должно было.

[2019-02-08 07:23] avinchakov commented on #245
Оно работало, раньше, но после какого-то из обновлений перестало)

[2019-02-08 07:25] borovskyav commented on #245
Обновлений мойры? Если есть возможность, скажи версию мойры с какой и на какую обновлялся. И еще было бы интересно посмотреть в F12 вкладку Network при загрузке одной из скрытых страниц.

[2019-02-08 07:29] borovskyav commented on #245
Ну или логи API

[2019-02-08 07:53] avinchakov commented on #245
Сейчас версия 2.4. Точно е скажу когда перестало работать, но мне кажется с 2.3 или 2.2.
apache access-log:
`[08/Feb/2019:10:37:22 +0300] "GET /tags HTTP/1.1" 404 5240 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36"`
В логах api пусто в это время

[2019-02-08 11:37] sashasushko commented on #245
@avinchakov, а обычные страницы открываются по прямому УРЛу? Например, по `moira.local/settings`

[2019-02-08 11:39] sashasushko commented on #245
Веб-морда — это SPA, и ей нужно, чтобы Апач (или любой другой сервер) на любой запрос к `moira.local` кроме `/api` отдавал `index.html`

[2019-02-08 15:03] avinchakov commented on #245
Нашли причину, конфиг apache2 нужно было допилить...
[code]

[2019-02-08 15:03] #245 closed

[2019-02-10 16:26] borovskyav opened #250 "Limit message size in Pushover sender"
Pushover API has a limit on length of various fields in message. We need to implement these restrictions in our Pushover sender.

API docs: https://pushover.net/api#messages
Library constants: https://github.com/gregdel/pushover/blob/master/pushover.go#L46
Pushover sender: https://github.com/moira-alert/moira/blob/master/senders/pushover/pushover.go

We need to update gregdel/pushover library (see

[2019-02-11 15:44] borovskyav opened #252 "Execute adding remote “triggers to check” only once"
А зачем их несколько раз проверять?

[2019-02-12 19:12] kamaev opened #254 "[ plotting ] Empty plots are possible"
It takes to:
- do not use buff.bytes() for NotificationPackage when Render() fails, use []byte{} instead
- [limits/resolveLimits] remove or refactor MinAndMaxOfTime to provide valid and different from/to's
- add tests for different retention intervals

[2019-02-12 19:24] borovskyav commented on #254
[metric.txt](https://github.com/moira-alert/moira/files/2857315/metric.txt)

[2019-02-13 06:58] #178 closed

[2019-02-13 09:43] sashasushko commented on #176
@borovskyav не могу воспроизвести

Дай больше контекста, пожалуйста

[2019-02-13 19:52] Pliner commented on #163
Как итог, сделали чуточку по-другому:

1. В #253 заиспользовали `SPOP N`, чтобы вынимать сразу пачку триггеров, вместо кучи одиночных `SPOP`.
2. В #242 выставили минимальный и максимальный размер пула(раньше минимальный размер был 3, а максимальный - не ограничен), пофиксили возможность существования на стеке нескольких открытых соединений из-за закрытия через `defer`. Так же развели пулы соединен

[2019-02-14 05:30] borovskyav opened #255 "Limit message size in Slack sender"
Slack has a limit on message size, it's 40000 symbols (see https://api.slack.com/changelog/2018-04-truncating-really-long-messages). Our Slack sender currently ignores this limit, which leads to truncated and malformed messages. We need to implement this limit in our Slack sender in a similar fashion to Telegram message size limit (see https://github.com/moira-alert/moira/blob/8fb128733d66a2b2a412

[2019-02-14 15:32] #163 closed

[2019-02-16 15:13] borovskyav commented on #250
Законтрибютил в либу https://github.com/gregdel/pushover/pull/5

[2019-02-16 17:28] borovskyav commented on #170
Не удалось воспроизвести. Будем ждать еще инцидентов.

[2019-02-16 17:28] #170 closed

[2019-02-17 08:31] borovskyav commented on #166
Заодно пофиксил проблему с тем что мы не чекали триггер, если нам по каким-то причинам не возвращались метрики https://github.com/moira-alert/moira/pull/257

[2019-02-18 15:38] Pliner opened #265 "Receive compressed metrics(snappy, gzip)"

[2019-02-19 11:48] troynsky opened #266 "Больше условий для advanced mode in trigger"
Иметь возможность срабатывания триггера по событию из другого триггера. Или если Parent триггер говорит о наличие проблемы, то уведомления от child триггеров отправляться не будут, но графическая нотификация присутствует. Т.е. custom mode при создании триггера

[2019-02-25 08:27] #177 closed

[2019-02-25 08:34] #174 closed

[2019-02-25 08:46] sashasushko commented on #172
@kamaev закрой ишью, как на бэке сделаешь, плез

[2019-02-25 13:56] sashasushko commented on #173
@borovskyav
А как это попало в 2.5 и почему?

[2019-02-25 13:57] borovskyav commented on #173
Ну мы такие сидели на планировании, а потом я такой: "о, давайте возьмем эту задачу!"

[2019-02-25 13:57] sashasushko commented on #167
@borovskyav запиши себе на мартовское планирование, плез

[2019-02-25 13:59] sashasushko commented on #173
Давай тогда на 2.5 MVP - описать в доке, где менять адрес в JS и собрать себе контейнер, если хост тот же, и пару ссылок на проксирование в популярных сервер-системах, если хост другой.

@borovskyav что думаешь?

[2019-02-25 14:01] borovskyav commented on #173
Слушай, я хотел это сегодня обсудить и забыл, мне кажется я придумал как её по нормальному делать. Давай на летучке обсудим

[2019-02-25 14:01] sashasushko commented on #173
Тогда запиши себе на встречу 1 марта обсудить

[2019-02-25 14:02] borovskyav commented on #173
договорились

[2019-02-26 07:32] Pliner commented on #142
The first step of tags support will consist of the following:
1. `Filter` will not filter by tags, only by name.
2. `aliasByTags`,` groupByTags` will be supported (these functions are supported by `go-graphite`), but ` seriesByTag` seems unsupported by `go-graphite` now and it will be done in the next step.

[2019-02-26 10:00] #176 closed

[2019-02-26 10:00] #175 closed

[2019-02-26 10:00] #168 closed

[2019-02-26 10:00] #183 closed

[2019-02-28 12:25] kamaev commented on #254
Main goal is to avoid errors like **infinite {x,y}-range delta** from wcharczuk/go-chart

[2019-02-28 12:25] borovskyav commented on #228
Закроем вместе с https://github.com/moira-alert/moira/issues/123

[2019-03-01 13:07] aswinmprabhu commented on #221
Made a PR
https://github.com/moira-alert/web2.0/pull/224

[2019-03-01 14:02] lazycipher commented on #223
Hey @borovskyav,
Can I work on this?

[2019-03-01 15:22] aswinmprabhu commented on #255
Is this issue taken? If not I would like to make a PR for it.

[2019-03-01 15:45] siddhant1 opened #273 "Add a script named "dev" that runs fake api and starts the application in moira frontend"

[2019-03-01 15:46] siddhant1 opened #274 "Add contributing and raising issues templates in moira frontend"
I think we should add contributing templated for raising issues and contributing

[2019-03-01 15:46] siddhant1 opened #275 "Add eslint , prettier and flow checks before committing using husky"
I think we should add in an eslint check ,prettier formatter and flow checks before committing code.
Should I send in a pull request?

[2019-03-01 15:47] siddhant1 opened #276 "Enhancement :- Move from momentjs to date-fns to improve performance"
This is a very small enhancement in the editor but I we should use date-fns over momentjs because it is super small and imporves performance.

Links :- https://twitter.com/addyosmani/status/1037587112730611714?lang=en

[2019-03-02 16:42] ihard opened #277 "Отображение дерева метрик из remote read при создании триггера"
По сути хотелось бы выбор из списка метрик также как реализовано в Grafana. Данные откуда брать метрики уже есть - remote read.
Кейс - накликиваем метрику, добавляем функцию - триггер готов. Сейчас же для пользователя это выглядит так: накликал метрику в Grafana, скопировал строку и вставил в Moira.
Если будет ещё и график - будет просто шикарно.

[2019-03-03 07:22] #221 closed

[2019-03-03 07:30] aswinmprabhu commented on #250
I would like to work on this issue. Can you please tell me how exactly do propose to implement a restriction? What should be done if the message goes over the limit? Truncate it ?

[2019-03-03 14:40] gane5hvarma commented on #254
Hi i would like to work on this issue.is anyone working on this?

[2019-03-04 06:20] beevee commented on #250
@aswinmprabhu you can take this issue. You can refer to Telegram sender for implementation idea: https://github.com/moira-alert/moira/blob/8fb128733d66a2b2a4121c5cf147202dd9fecead/senders/telegram/send.go#L42-L44

[2019-03-04 06:24] beevee commented on #254
@gane5hvarma OK, you can take this task.

[2019-03-04 11:18] sashasushko commented on #273
We haven't `prod` script :-) So I don't think it's necessary.

But I understand, what you want. What you think, if we change `start` script that it started fake API? Like `start-local-api`

[2019-03-04 11:24] sashasushko commented on #273
So, this how I see:

Rewrite `start`, `start-local-api` and `fakeapi` scripts in [package.json](https://github.com/moira-alert/web2.0/blob/develop/package.json) to 2 new.

First must start webpack-dev-sever and json-server in parallele.

Second must start only webpack-dev-sever and pass env variable `API_MODE=local` for webpack proxy option.

[2019-03-04 11:26] sashasushko commented on #275
I don't like check with `--fix` option. Because I think developer must know, what and why changed in his code.

But if prehook only will notice about lint erros, it's good idea. It will clean commit history from "Fix eslint errors" commits :-)

[2019-03-04 11:30] sashasushko commented on #275
So, this how I see:

- [ ] add precommit hook which run `yarn lint` and disable push until errors not fixed
- [ ] add script for flow check in package.json and precommit hook like for lint

[2019-03-04 11:36] sashasushko commented on #274
Yes. I work on it right now.

There is one major rule - all branches we checkout from develop, named by template `feature/%name%` and merged also to develop.

[2019-03-04 11:43] sashasushko commented on #276
We have [moment-locales-webpack-plugin](https://www.npmjs.com/package/moment-locales-webpack-plugin), which remove all locales except `en`.

We also have [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer).

So, what I want...
- [ ] check "before code" by bundle-analyzer
- [ ] remove moment
- [ ] add date-fns
- [ ] check "after code" by bundle-analyzer
- [ ] compare tw

[2019-03-04 11:46] sashasushko commented on #241
@borovskyav опиши, пожалуйста, по пунктам, что требуется

[2019-03-04 11:53] sashasushko commented on #240
У Тихонова была идея на этот счёт:
сделать из Мойры [PWA](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md#progressive-web-app-pwa), что позволит слать нативные уведомления пользователям.

Возможно, она не подойдёт тем, кто не пользует Мойру с телефона. Не помню, добрались ли уведомления до ПК.

[2019-03-04 11:59] sashasushko commented on #44
Частично этот кейс решит moira-alert/moira/issues/209

[2019-03-04 12:00] sashasushko commented on #2
В АПИ это будет частично реализовано в https://github.com/moira-alert/moira/issues/185

[2019-03-04 12:18] aswinmprabhu commented on #250
Ok. I used the telegram reference to limit the title. The message is already limited. I am not sure as to how to limit the URL size. Modifying the URL by shortening it is not an option as that will cause the URL to not work anymore.

[2019-03-04 13:07] sashasushko opened #280 "Refactor ContactType component"
In [parent issue](https://github.com/moira-alert/moira/issues/123) I understood that in current version of ContactTypeIcon component we can't add another icon, because code will be mess.

So, it needs some refactoring.

### ToDo

- [x] Remove `Domain/ContactType.js` file
Enum `ContactTypeCaptions`, `ContactTypes` and getter `getContactTypeCaption` is useless now. Labels for contact type now will s

[2019-03-04 13:07] sashasushko commented on #123
↑ вынес задачу по фронту в отдельную ишью

[2019-03-04 13:13] gmlexx opened #281 "Prometheus alert manager"
I would like to propose integration between the strongest parts of prometheus and Moira in the form that Moira could act as Prometheus alert manager
https://prometheus.io/docs/alerting/alertmanager/
In other words would be great if Moira could understand Prometheus alerts (as Moira events) and display them in UI.

[2019-03-04 13:44] siddhant1 commented on #273
Working on it !

[2019-03-04 13:45] siddhant1 commented on #275
Working !

[2019-03-04 13:46] siddhant1 commented on #276
Cool , I will have a look

[2019-03-04 13:58] beevee opened #282 "Remember sorting order on Current state page"
Users can sort by `Name`, `Last event` or `Value` on `Current state` tab of trigger page. We should remember this choice locally to show preferred sorting order for every trigger.

[2019-03-04 14:02] borovskyav commented on #281
Привет! Я уже мельком пытался разбираться. Вот такие мысли приходят в голову:
- Использовать мойру просто как красивый фронт для создания алертов в проме. У этого есть одна большая проблема: вся конфигурация подписок и триггеров идет через файлы конфигурации. Кажется не наш вариант
- Использовать мойру со всей той функциональностью которая есть сейчас. Все, что нужно сделать это использовать друго

[2019-03-04 14:10] gmlexx commented on #281
Привет,
Может можно начать с малого, например ограничиться только настройкой уведомлений и визуализацией уже пришедших алертов. Пусть они по-прежнему настраиваются где настраиваются, функция менеджера алертов в прометеусе только в их обработке.

[2019-03-04 14:17] borovskyav commented on #281
@gmlexx Я на самом деле совсем не имею опыта с промом, и не до конца уверен про схему прома с тем как у него создаются подписки и триггеры. Мне казалось что там любая сущность даже уведомления настраиваются через файл.

[2019-03-04 14:42] gmlexx commented on #281
@borovskyav да, в проме все настраивается через файлы, что вот прямо супер неудобно, когда это касается простых вещей вроде настройки куда присылать уведомление, потому что обычные пользователи этого сделать никогда не смогут. Поэтому и хочется эту часть взять из Мойры. В проме это не связанные между собой настройки, например так описываются "триггеры"

А так описываются куда отсылать уведомления:

[2019-03-04 15:04] iurimateus commented on #216
I'll take this one

[2019-03-04 15:24] siddhant1 commented on #273
Should I do something like dev script which concurrently runs fakeApi and start script?

[2019-03-04 18:30] sashasushko commented on #273
Yep

[2019-03-05 06:04] sashasushko commented on #223
Close by https://github.com/moira-alert/web2.0/pull/230

[2019-03-05 06:04] #223 closed

[2019-03-05 06:09] sashasushko commented on #277
@borovskyav у тебя были мысли на этот счёт, если ничего не путаю

[2019-03-05 06:14] Vivekrajput20 commented on #280
I would like to work on the issue

[2019-03-05 06:20] sashasushko opened #284 "Edit controls in modal windows on notifications page"
After [previous issue](https://github.com/moira-alert/moira/issues/221) we decided edit all controls like that.

So, need remove "Cancel" button in `CreateSubscriptionModal.jsx`, `NewContactModal.jsx` and `ContactEditModal.jsx`. In `ContactEditModal.jsx` also make Delete button red.

[2019-03-05 06:54] sashasushko opened #285 "Add markdown support for trigger description"
Now in description we can parse only `\n` breaks. Thanks for
[code]

We want add markdown support for description textarea in trigger add/edit pages:
![screenshot_2019-03-05 moira - add trigger](https://user-images.githubusercontent.com/4469056/53786355-53067d80-3f3d-11e9-8491-ba4d31622ab9.png)
![screenshot_2019-03-05 moira - trigger - 12321](https://user-images.githubusercontent.com/4469056/53786

[2019-03-05 07:35] aswinmprabhu commented on #285
I would like to work on this

[2019-03-05 07:37] aswinmprabhu commented on #284
This one's simple enough. I'll take it

[2019-03-05 07:50] sashasushko commented on #280
Okay

[2019-03-05 07:54] sashasushko commented on #285
Okay, but first, pls, close #284

[2019-03-05 07:55] sashasushko commented on #284
Okay

[2019-03-05 07:58] sashasushko commented on #284
Sorry, I clicked wrong button

[2019-03-05 08:07] sashasushko opened #286 "Speed up Patterns page"
We have hidden page with all patterns in Moira. Look at `/patterns`.

There is no pagination in API. And will not be. But sometimes there is hundreds of items in list. React can't fast render them. Page slow down.

Need some defer rendering.

### ToDo:
- [ ] add patterns fake data to fake api based on [json-server](https://www.npmjs.com/package/json-server). To simplify development
- [ ] add code

[2019-03-05 08:15] sashasushko opened #287 "Add sorting to Patterns page"
We have hidden page with all patterns in Moira. Look at `/patterns`.

Need add sorting up/down by columns *Triggers* and *Metrics*:
![screenshot_2019-03-05 moira - patterns](https://user-images.githubusercontent.com/4469056/53790164-1ab86c80-3f48-11e9-92bb-d96d1aa38e39.png)

For example can be take soring in *Current state* table on trigger page:
![screenshot_2019-03-05 moira - trigger - staging m

[2019-03-05 08:30] Vivekrajput20 commented on #280
I'm having trouble setting up the project. Readme says cd docker-compose. But there is no docker-compose folder. Is there any other installation guide I can refer to?
Thanks

[2019-03-05 08:43] sashasushko commented on #280
For web developing you need only Node.js and Yarn installed. Then follow the instruction [in web read.me](https://github.com/moira-alert/web2.0/blob/master/README.md#developing)

[2019-03-05 10:07] #284 closed

[2019-03-05 11:38] lazycipher commented on #287
I would like to work on this.

[2019-03-05 11:38] borovskyav opened #288 "Do not autodisable notifications for fresh Moira installations"
Moira has built-in NODATA protection that disables all notifications when Moira itself breaks. For example, if there are no incoming metrics, there is no need to send NODATA notifications to all subscribers: it's obvious that Moira itself is broken. In this case, only Moira administrators get notifications.

See: https://github.com/moira-alert/moira/blob/develop/notifier/selfstate/selfstate.go

Th

[2019-03-05 11:39] lazycipher commented on #286
I would like to work on this.

[2019-03-05 12:14] proffust opened #289 "Add smtp_hello parameter"
Hello.
In some cases, it is necessary to explicitly set smtp_hello in the mail sending settings, now there is no such possibility

[2019-03-05 14:02] Vivekrajput20 commented on #280
@sashasushko in the third ToDo I installed the @skbkontur/react-icons package to use the icons. But when I tried to import the icons, it gave me the following error.
![image](https://user-images.githubusercontent.com/31074883/53810541-32f6ae80-3f7d-11e9-96e2-60afafafd7d8.png)

I think I'm supposed to update the webpack config to fix this error. Should I proceed further?

[2019-03-05 16:23] #255 closed

[2019-03-05 16:56] Vivekrajput20 commented on #169
I'm working on the issue.

[2019-03-05 16:56] sashasushko commented on #280
Hmm... Strange things. It's already been in develop branch. Can you describe by steps what are you doing? I try figure out tomorrow

[2019-03-05 16:56] sashasushko commented on #286
Okay

[2019-03-05 16:56] sashasushko commented on #287
Okay

[2019-03-05 16:59] sashasushko commented on #169
It's complited in hotfix, but not merged

[2019-03-05 17:02] Vivekrajput20 commented on #280
Sorry I was working on the master branch and faced the error. I have switched to develop now and will try to do it on develop branch

[2019-03-05 17:23] iurimateus commented on #216
I made some attempts to fix it, but I'm not sure it's they're proper.
Both work, although they don't address the evaluation of the expression, relying on parsing instead.

On `api/controller/trigger.go/saveTrigger()`
- set `validTokens` to a slice of valid/acceptable `moira.State` values and possible targets
- grab variables by constructing a govalute expression, then use the `Vars()` method
- for

[2019-03-05 17:37] sashasushko commented on #280
Cool. I'm just add [two our major contributing rules](https://github.com/moira-alert/web2.0/blob/develop/README.md#contributing)

[2019-03-05 17:40] Vivekrajput20 commented on #280
Also @skbkontur/react-icons don't have whatsapp and viber icons. I downloaded the whatsapp material filled icon from https://icons8.com/icons/ but unfortunately viber material filled icon isn't available there. What alternative should I use?

[2019-03-05 18:07] Vivekrajput20 commented on #280
@sashasushko  `ContactTypes` is being used in many files like `/src/Stories/ContactTypeIcon.stories.js`,
`/src/Stories/ContactList.stories.js`. Removing the `Domain/ContactType.js` requires changes in other files too. ` /src/Stories/ContactTypeIcon.stories.js` totally depends on `ContactTypes` and won't be functional after removing the `Domain/ContactType.js` file. What should I do?

[2019-03-05 18:27] borovskyav commented on #172
Даша в параллельной задаче https://github.com/moira-alert/moira/issues/171  делала кусок кода и почти полностью сделал работу на бэке. Решили с ней объединить оба ишью.

[2019-03-05 20:27] mikaelmello commented on #289
I'd like to take this issue. Expect to finish it by tomorrow, thanks!

[2019-03-06 06:08] sashasushko commented on #280
It's library bug. Please, code all logic, but return envelope icon (temporary solution) and add ToDo about it. We'll fix bug in library and complete ToDo.

It's my loss. Keep it till I figured out how to be

[2019-03-06 08:13] sashasushko commented on #280
Try update `@skbkontur/react-icons` from 3.1.2 to 3.1.3

[2019-03-06 18:01] proffust opened #292 "Replace auth type in smtp"
Now auth plain is used, which is very insecure, you must either change it to AUTH LOGIN, or go through authentication methods when receiving the response "504 5.7.4 Unrecognized authentication type" from the mail server

[2019-03-06 18:11] Pliner commented on #142
The next step of tags support:

`seriesByTag` is supported by go-graphite, but there are a lot of work to integrated it to Moira: querying of tags has to be supported to use it.

[code]

[2019-03-07 00:36] lazycipher commented on #287
Hi @sashasushko,
I tried accessing `/patterns` hidden page but I get nothing in there. It's blank.
I followed [README.md](https://github.com/moira-alert/web2.0/blob/master/README.md) of web2.0. to set it up locally.

[See Screenshot](https://imgur.com/qIEXSDW)

[2019-03-07 04:08] sashasushko commented on #287
Yep, I forgot duplicate ToDo to this issue. Look at https://github.com/moira-alert/moira/issues/286

[2019-03-07 07:43] beevee commented on #250
If URL doesn't fit, we should just omit the URL entirely.

[2019-03-07 07:55] beevee commented on #216
@iurimateus I think both your approaches fail to catch errors like `t1<300 ? ERROR`. This expression contains only valid variables, but still doesn't produce a valid state when `t1` is greater than 300.

[2019-03-07 08:04] beevee commented on #216
I think, in this task we should try to catch as many expression errors as possible. Ideally, users should not be able to save an erroneous expression.

And, as a last resort, if we failed to catch an error on trigger save, we should show user an exception state on failed trigger check (see https://github.com/moira-alert/moira/blob/8fb128733d66a2b2a4121c5cf147202dd9fecead/checker/check.go#L187-L190

[2019-03-07 14:44] mikaelmello commented on #292
`net/smtp` does not support LOGIN, only PLAIN and CRAM-MD5.

However, I did found this:

https://gist.github.com/homme/22b457eb054a07e7b2fb

Can I submit a PR?

[2019-03-07 19:19] mikaelmello commented on #292
After reading a bit more about the topic, it seems to me that LOGIN does not provide any more security than PLAIN.

They seem to ask for the same credentials (username + password) and are both sent in plain text. In fact, I found people saying that PLAIN is better [[1]](https://dovecot.org/list/dovecot/2011-November/079233.html). That would probably explain why `net/smtp` does not even have it as

[2019-03-08 11:44] ZeyadYasser commented on #288
I would like to work on this issue, Thank you!

[2019-03-08 11:55] beevee commented on #288
Sure, OK

[2019-03-09 08:00] #289 closed

[2019-03-09 08:01] borovskyav commented on #289
Fix will be released in 2.5

[2019-03-11 13:49] Vivekrajput20 commented on #286
@lazycipher  are you still working on it? I would like to work on the issue if you aren't.

[2019-03-11 14:31] lazycipher commented on #286
Hi @Vivekrajput20,

Yes, I'm working on it and I'll send PR soon.

[2019-03-12 04:06] sashasushko opened #297 "In trigger add/edit form lost data source toggle"
С [правкой](https://github.com/moira-alert/web2.0/commit/58aad14e29e54a4aeabbbd0d0d104be22efa7e6c) потерялся переключатель data source

[2019-03-12 04:08] #297 closed

[2019-03-12 04:21] sashasushko commented on #286
@lazycipher

Fake API based on [JSON server](https://www.npmjs.com/package/json-server). To add data you need edit `db.json`. Add in top level key `patterns`, value must be `list: []`. Like this:

[code]

Then add to list array few objects with data. Look at object structure in `Domain/Pattern.js`. You can do it manually or [write some code for data generation](https://www.npmjs.com/package/json-s

[2019-03-12 05:25] #285 closed

[2019-03-12 06:30] sashasushko opened #298 "Think about XSS in markdown editor in trigger edit form"
В релизе 2.5 появилась возможность задавать описание тригера в markdown разметке. Вместе с ней пришли проблемы XSS. От большей части защищает [DOMPurify](https://github.com/cure53/DOMPurify), но остаются лазейки, вроде вставки картинок с SVG.

Нужно придумать или подсмотреть у других, как защищаться.

Пока что просто запретили вставку картинок.

[2019-03-12 10:45] Pliner opened #299 "Panic when run tests with the latest Go 1.12 version"
After an update to the latest Go tests are broken(see https://github.com/smartystreets/goconvey/issues/561 for details).

[2019-03-12 11:28] biancalana commented on #142
Great to see you pushing that forward!

I would like to help implementing tagdb with redis, I will post here later the functions signature so we can agree on that I before start

[2019-03-12 12:13] Pliner commented on #142
Actually, we decided to implement it in other way: instead of querying suitable metrics in `checker` with TagDB, we are going to capture them in `filter` and fetch in `checker`(as it's done for simple metrics patterns).

You can follow the progress in #294 and we can discuss the decision there :wink:

[2019-03-18 01:21] lazycipher commented on #286
Hey @sashasushko ,
I'm following the same but I get an error when I use "patterns" but data loads on page when I use "pattern".

When I put `"patterns"` in db.json I get this -> [Imgur](https://i.imgur.com/pPXVvyd.png)
But when I put `"pattern"` and nativate to the patterns page, I get the data on page.

[2019-03-18 04:34] mikaelmello commented on #292
Is it reasonable to close this issue?

[2019-03-18 05:37] sashasushko commented on #286
Yep. Use `pattern`. It's my mistake. I mixed up page URL and API URL

[2019-03-18 05:43] sashasushko commented on #287
@lazycipher maybe split this issue and #286? There is few guys who want to help with this issue

[2019-03-18 05:44] sashasushko commented on #275
@siddhant1 how are you going? Need help?

[2019-03-18 05:44] sashasushko commented on #276
@siddhant1 how are you going? Need help?

[2019-03-18 06:04] lazycipher commented on #287
@sashasushko I've already started working on this issue after generating fakeapi data for #286.
We can split the `adding data` and `defer rendering`. But I'm willing to work on these.
I had a busy week in college and now I've 4 days holiday.

[2019-03-18 06:13] sashasushko commented on #287
Okay :-)

[2019-03-18 07:10] sashasushko opened #304 "Рефакторинг поддельного АПИ"
Для удобства разработки мы держим JSON сервер (см. папку `fakeapi`). Но данные для него хранятся в одном большом файле `db.json`, что совершенно неудобно. [Инструмент JSON-server](https://github.com/typicode/json-server) позволяет генерировать случаные данные средствами JavaScript (см. раздел [Generate random data](https://github.com/typicode/json-server#generate-random-data))

**Необходимо**
- не

[2019-03-18 07:22] sashasushko opened #305 "Fix maintenance selector by DRY principles in Moira Mobile Web UI"
We have mobile version for Moira Web UI. Unfortunately, it was developed in a hurry, so its code is not "clean" in some places. It needs some refactoring.

There is modal windows for choice maintenance time in files `MobileMetricsListItem.jsx` and `MobileTriggerInfo.jsx`. Code that describes this modals doesn't follow the DRY principles.

**ToDo**
- not break compatibility
- look up at data in `Do

[2019-03-18 08:35] xxyuk commented on #276
Day.Js is a nice alternative to me

⏰ Day.js 2KB immutable date library alternative to Moment.js with the same modern API

https://github.com/iamkun/dayjs

[2019-03-18 10:55] siddhant1 commented on #275
Sorry for late response , I will send a pr today

[2019-03-18 11:07] sashasushko commented on #275
I asked, because other GSOC applicants want your tasks. If you will done it, okay.

[2019-03-18 11:50] beevee commented on #182
На странице создания/редактирования триггера, если пользователь сделал одно из:

- отредактировал target (с задержкой 1000ms);
- поменял выбор радиобаттона remote trigger.

...нужно отправить на бэкенд запрос `???validate` с содержимым:

[code]

...где `target` — содержимое поля target, а `remote` имеет значение `false` только если выбран радиобаттон Redis.

В ответ сервер вернет содержимое:

[cod

[2019-03-18 13:39] aswinmprabhu commented on #305
I can work on this.

[2019-03-18 15:17] Vivekrajput20 commented on #304
I want to work on it.

[2019-03-19 06:18] siddhant1 commented on #275
Yeah if anyone is willing they can pick up

[2019-03-19 06:30] sashasushko commented on #276
@xxyuk if you will send PR, I review it asap

[2019-03-19 06:40] sashasushko opened #306 "Mark contact as deprecated"
В релизе 2.5 типы контактов ограничиваются админом Мойры в настройках. Возможна ситуация, когда в БД остались контакты типа `C`, а в настройках Мойры админ указал только `A` и `B`. В веб-интерфейсе мы всё равно отобразим контакты типа `C`, потому что АПИ вернёт.  В текущей реализации, если пользователь решит отредактировать такой контакт, развалися окно редактирования:

![image](https://user-image

[2019-03-19 06:47] sashasushko commented on #123
@kamaev фронт и конфиг смёржены. Закрывай ишью, как будешь готов

[2019-03-19 06:56] #280 closed

[2019-03-19 11:17] kamaev opened #307 "[API/trigger save] Do not show stacktraces to user, show short error text instead"
It takes to add custom error to hide stacktraces when target.EvaluateTarget failed with panic

[2019-03-19 12:26] sashasushko opened #308 "Update Storybook to 5.X.X version"
We use [Storybook](https://github.com/storybooks/storybook) in development. It's useful tool to organize showcase of components. Few weeks ago it upgrade to 5.X.X version. There are a lot breaking changes.

ToDo:
- read Storybook changelog and migration info
- update Storybook in Moira web to latest stable version
- fix all migration errors, if they will

----
Please, [look at two our major rules

[2019-03-19 12:33] sashasushko commented on #305
@aswinmprabhu please give chance to others :-)

[2019-03-19 12:35] sashasushko commented on #304
@Vivekrajput20 please give chance to others :-) But if someone will not take it in few days, of course, you can

[2019-03-19 12:40] sashasushko opened #309 "Update React Router to 5.X.X version"
Few days ago React Router and React Router DOM was upgrade to 5.X.X version.

**ToDo:**
- wait till React Router team write changelog for 5.X.X version
- update React Router in Moira web to latest stable version
- fix all migration errors, if they will

----
Please, [look at two our major rules for contributors](https://github.com/moira-alert/web2.0/tree/develop#contributing).

[2019-03-19 12:59] sashasushko opened #310 "Ошибка React DOM при выборе "Mute new metrics notifications""
На странице добавления/редактирования триггера выбор чекбокса "Mute new metrics notifications" кидает ошибку в консоль:
![image](https://user-images.githubusercontent.com/4469056/54607648-af56ba80-4a70-11e9-9d91-8fddf47878cd.png)

Необходимо разобраться, почему.

[2019-03-19 13:43] sashasushko opened #311 "Fix CSS chunks name"
In release 2.5 (now in `delevop` branch) of Moira Web we improved chunk split in Webpack. Now we have 4 bundles:
- `vendors` - all npm libraries
- `common` - common code between mobile and desktop vesions
- `desktop` - code for desktop version
- `mobile` - code for mobile version

Look at js files:
![image](https://user-images.githubusercontent.com/4469056/54610158-39ede880-4a76-11e9-942f-2ec8a948

[2019-03-20 07:10] sashasushko opened #313 "Отредактировать названия контролов и модальных окон на странице уведомлений"
Довести до конца начатую работу в #284 и #232

[2019-03-20 07:19] #310 closed

[2019-03-20 07:27] sashasushko commented on #172
@borovskyav а почему ишья в done на доске, но не закрыта?

[2019-03-20 07:27] borovskyav commented on #172
Упс, косяк

[2019-03-20 07:27] #172 closed

[2019-03-20 07:29] #313 closed

[2019-03-20 07:46] sashasushko commented on #169
Сделано в moira-alert/moira/issues/185

[2019-03-20 07:46] #169 closed

[2019-03-20 07:57] borovskyav commented on #192
В результате запроса api/trigger/{TriggerID}/state добавится новое поле ```MaintenanceWho``` c таким контрактом:
[code]

[2019-03-20 08:30] sashasushko commented on #192
1. Что будет, если метрика не на обслуживании?
2. Что с триггерами на обслуживании?

[2019-03-20 08:31] sashasushko commented on #192
Зачем тогда
[code]

[2019-03-20 08:49] borovskyav commented on #192
Ничего, будут просто старые значения приходить.

Будет точно такое же поле в корне структуры

Дофига делов сейчас выпиливать. Пусть будет.

[2019-03-20 08:52] sashasushko commented on #192
Это спорный момент. В 2.6 поспорим

Хорошо, я тогда на это не завязываюсь

[2019-03-20 08:54] borovskyav commented on #192
Кажется решение должно быть таким: если метрика (триггер) в мейнтенансе, и есть хотябы одно из полей ```maintenance_who.start_user``` или ```maintenance_who.start_time``` то нужно показать сообщение (иконку для тултипа, хз).

[2019-03-20 09:04] borovskyav commented on #192
Саш, обрати внимание что start_user и start_time могут быть пустыми и это нормально. Как минимум потому что после релиза могут быть метрики в майнтенансе.

[2019-03-20 09:05] sashasushko commented on #192
Тогда не будет всообщения?!

[2019-03-20 09:05] sashasushko commented on #192
И ты мне скажи, ключи будут всегда, просто значения могут быть пустой строкой?

[2019-03-20 09:52] borovskyav commented on #192
Да

[2019-03-20 09:53] borovskyav commented on #192
Ключи будут всегда, но может быть и null

[2019-03-20 10:31] sashasushko opened #314 "Теги в выбиралке самопроизвольно удаляются"
При нажатии в любое место поля ввода удаляются выбранные теги в непонятном порядке

[2019-03-20 10:38] #314 closed

[2019-03-20 10:52] shiv6146 commented on #216
@beevee @borovskyav Can I take up this issue if its still open?

[2019-03-20 11:12] shiv6146 commented on #304
@sashasushko Can I take this up?

[2019-03-20 12:35] sashasushko commented on #304
@shiv6146 yep, you can try ;-)

[2019-03-20 13:48] sashasushko opened #315 "Get rid of Gitter and replace links everywhere with Telegram"
В ридми есть ссылка на Гиттер. Но чат мёртв. По сообщению в несколько месяцев, это ужас. Может, пора удалить?

[2019-03-22 11:08] sashasushko commented on #192
Веб смёржен

[2019-03-22 12:02] sashasushko commented on #192
@borovskyav не забудь прееименовать:

[code]

[2019-03-22 12:06] sashasushko commented on #192
На фронте контракты поменял — moira-alert/web2.0/pull/248

[2019-03-23 12:49] borovskyav opened #317 "Рефакторинг постановки maintenance в методе SetTriggerCheckMaintenance."
Этот метод работает с бизнесом прямо на уровне кода доступа к базе данных.  И всё ради апдейта без блокировки. Надо от этого избавиться.

[2019-03-23 21:33] Vivekrajput20 commented on #311
I'm working on it.

[2019-03-23 21:47] Vivekrajput20 commented on #286
How is it going @lazycipher ? Do you need any help?

[2019-03-25 04:52] sashasushko commented on #311
Yep

[2019-03-25 19:15] Pliner commented on #315
Я бы бахнул отдельный слак, а так же бы поднял вот такую штуку https://github.com/rauchg/slackin, чтобы не мучиться приглашениями.

[2019-03-26 03:41] beevee commented on #315
Забавно, что по ссылке Demo я попал на страницу Zeit.co, которая призывает
присоединиться к их чату. Но не в Slack, а в Spectrum :)

вт, 26 марта 2019 г. в 0:15, Yury Pliner <notifications@github.com>:

--
Алексей Кирпичников
+7 (912) 225-0-228

[2019-03-26 06:56] borovskyav opened #318 "Ужесточить проверку для PREV_STATE при сохранении треггера"
Сейчас мы даем сохранить триггер вот с таким Expression'ом

[code]

[2019-03-27 15:14] kamaev opened #319 "GetTriggerEvaluationResult may return TimeSeries with StepTime equal to 0"
https://github.com/moira-alert/moira/blob/6a740094d6dcc91673d6e2263e54371017e60daa/api/controller/trigger_metrics.go#L68

[code]

[2019-03-28 10:07] #250 closed

[2019-03-28 10:37] kamaev opened #321 "[web] empty pages in nightly-84a9d9"
`moira/web2:nightly-84a9d9` shows empty page for any trigger being actively used

[code]

[2019-03-28 11:04] borovskyav opened #322 "Рефакторинг методов Bind в DTO"
Сейчас хочется сделать две вещи:
1. Покрыть тестами все методы bind с логикой внутри.
2. На ошибки валидации везде пробрасывать ```ErrInvalidRequestContent```.
3. Научиться на всех методах вызовах метода Bind научиться обрабатывать ```ErrInvalidRequestContent``` и кадать ```ErrorInvalidRequest```

[2019-03-28 17:28] borovskyav commented on #292
@proffust waiting for your answer =)

[2019-03-29 09:51] #192 closed

[2019-03-29 09:53] borovskyav commented on #182
https://github.com/go-graphite/carbonapi/blob/895336436a213bef2e5cf2769acb2d8f36337644/COMPATIBILITY.md

[2019-03-30 08:54] borovskyav opened #326 "Доработки расписания на триггер и подписку"
В контексте этого хочется сделать две доработки:
1. Сделать переключаетель что в расписании указывается не время, когда триггер/подписка активна, а время когда они выключены.
2. Возможность указать несколько интервалов времени когда триггер/подписка включена/выключена.

[2019-03-30 09:03] #321 closed

[2019-03-30 19:11] borovskyav opened #327 "Fail API startup if indexing triggers for fulltext search returns an error"
Сейчас если при индексировании элементов для полнотекстового поиска падает ошибка, то мы ее просто игнорируем. Из за этого у нас могут разъезжаться индексы на репликах, что приводит к неприятным последствиям для пользователей, которые используют главную страницу (любая фильтрация по триггерам)

[2019-03-30 22:36] proffust commented on #292
Ok, I close issue

[2019-03-30 22:36] #292 closed

[2019-03-31 06:41] borovskyav opened #328 "Dont send "This metric changed its state" message if state does not changed during maintenance interval"
If during the maintenance the state changed but it remained the same as it was before the maintenance, then in the next event we no need to send a message

[2019-03-31 06:49] #328 closed

[2019-04-01 11:30] borovskyav opened #331 "Расписать правила принятые для интерфейса Database"
Сейчас Database имеет понятные правила, того какие результаты на какие запросы там возвращаются. Но это нигде не документировано. Нужно бы добавить комментов на это.

[2019-04-03 09:52] beevee commented on #123
https://github.com/moira-alert/doc/blob/b7aebc80431698845353e608bf393654d231c782/notifier.example.yml#L74-L91

[2019-04-03 14:12] #214 closed

[2019-04-03 14:12] #123 closed

[2019-04-04 13:26] #171 closed

[2019-04-04 13:46] #181 closed

[2019-04-04 14:03] borovskyav commented on #228
#123 Закрыт

[2019-04-04 14:03] borovskyav commented on #227
#123 закрыт

[2019-04-04 14:04] #227 closed

[2019-04-04 14:04] #228 closed

[2019-04-04 18:51] borovskyav opened #333 "Change font in plots to support more Unicode characters, like emojis"
People love emojis. We love emojis.

Can we use emojis in trigger names? Sure we can.

What do we get when we use our beloved 💩poop💩emoji💩 in graphs? That's what:
![dark expression](https://user-images.githubusercontent.com/1009675/61440449-fd1afb00-a95c-11e9-9ae3-46131b8deaa7.png)

A rectangle! That's no good. Perhaps, our default font is not very rich in popular Unicode characters.

Our plan is

[2019-04-04 19:22] borovskyav opened #335 "Рефакторинг функции создания нотификации"
Сейчас код в этой функции ужасен:
1 Он плохо читается, его очень тяжело написан, его очень тяжело дописывать
2 Из первого следует второе: в нем есть много несколько не очень приятных багов, например если состояние метрики меняется во время maintenace интервала то все следующие чеки триггера приводят к изменению времени последнего эвента этой метрики.

Всё усложняется тем, что у нас есть четко уста

[2019-04-05 10:06] kamaev opened #336 "Refactor api configuration mechanism"
- Get rid of map[string]string for senderSettings, use strongly typed parsing instead
- Make api web config part of main api config as both of them consist of related fields and being parsed by the same application

[2019-04-07 12:04] borovskyav commented on #335
Один из багов, который я пытался починить https://github.com/moira-alert/moira/pull/332

[2019-04-09 06:58] sashasushko commented on #304
@shiv6146 how you'r going?

[2019-04-10 05:06] sashasushko commented on #309
Some info about v5 - https://reacttraining.com/blog/react-router-v5/

[2019-04-10 11:34] #142 closed

[2019-04-10 12:38] borovskyav opened #342 "Fix memory leak in Scorch-type index in Bleve"
В #341 мы откатили Scorch-индекс, так как он тек по памяти. При этом он существенно быстрее и ждет меньше памяти чем дефолный индекс. Нужно разобраться в чем проблема. Первое, что нужно сделать - это взять свежую версию пакета bleve и посмотреть, вдруг уже всё пофиксили.

[2019-04-11 09:02] beevee opened #343 "Mobile detection doesn't work as intended"
720×1280:

![image](https://user-images.githubusercontent.com/1009675/55944518-3529e800-5c62-11e9-95fa-4120e4dab200.png)

[2019-04-11 10:01] borovskyav opened #344 "Disallow deleting tags that are used in existing subscriptions"
Сейчас это приводит к интересному спецэффекту:
Польвователь выбирает тег из тегов в подписках, но его нет уже в мойре. Сразу после выбора тег удаляется из поисковой строки.

[2019-04-11 10:10] borovskyav opened #345 "Не разбиваем слова на термы по некоторым служебным символам типа точки или подчеркивания"
Пример: хочется находить триггер ``EDI SlaMonitoring.HungMessages`` по ``HungMessages``

[2019-04-11 10:52] kamaev commented on #173
Closed in: https://github.com/moira-alert/web2.0/pull/258

[2019-04-11 10:52] #173 closed

[2019-04-11 16:23] beevee commented on #343
Works as intended. This is a very old browser, sadly ;-(

[2019-04-11 16:23] #343 closed

[2019-04-12 05:01] borovskyav opened #348 "Переехать на общие лоадеры на странице списка триггеров и на странице триггера"

[2019-04-12 05:03] borovskyav opened #349 "Редизайн страницы списка триггеров"

[2019-04-12 05:16] #185 closed

[2019-04-15 04:00] andymand commented on #304
@sashasushko May I take up this task? I think it has already been many days.
 I am very much interested to work on it

[2019-04-15 04:04] andymand commented on #304
I want even take up the related issues i.e #287 and #286

[2019-04-15 04:04] andymand commented on #304
Thank you

[2019-04-15 07:10] sashasushko commented on #304
@alekhyaNynala Hi.
Let's do one by one. Start with this #304

[2019-04-15 10:44] usbulat opened #351 ""Something unexpected happend to Moira" message"
Hi!

Moira version 2.4.0

We faced some problem with message:
![error message](https://user-images.githubusercontent.com/22560358/56125998-cced4600-5f82-11e9-9499-93b10851a138.png)
It appears sometimes. We fix it with deleting redis db, and pulling triggers back with script. But after some time it appears again. And notifier stops sending messages, it sends only Moira Notifier health check message

[2019-04-15 10:48] borovskyav commented on #351
Hi! This service message shows if self state monitor is turned off notifier if one part of Moira was in a bad state. See more info [here](https://moira.readthedocs.io/en/latest/user_guide/selfstate.html)

[2019-04-15 10:59] usbulat commented on #351
Thanks, @borovskyav . I'll check this doc, but we haven't seen any errors in log files of moira services. Also we have all moira services in one docker container with only redis db volumed, and restart of container doesn't help, so I think that problem is in db data. I'll check more detailed next time when we'll face it again.

[2019-04-15 11:39] borovskyav commented on #351
Main point: moira turns ERROR state automatically, but it can’t be automatic OK. So, usually steps looks like:
1. Moira checks services state, see that one of this does not works well, send self state alert, turns state ERROR (disable notifications)
2 You see this alert, and fix problems
3 Turn on notifications on notifications page.

[2019-04-15 11:45] borovskyav commented on #351
You also can turn off notifications manually if moira in maintenance (for example, you are upgrading moira or reload relays)

[2019-04-15 11:49] borovskyav commented on #351
No, your data can not affects moira state :) only working of moira parts (filter, checker, notifier, relay)

[2019-04-15 18:12] alekhyaNynala commented on #304
@sashasushko Ok I'll work on this one.
Thank you.

[2019-04-16 07:50] sashasushko commented on #304
@alekhyaNynala thank you, not me :-)

[2019-04-16 14:35] beevee opened #353 "Markdown descriptions in senders"
Web UI supports Markdown descriptions since 2.5 (see #285), but Slack and other senders do not. We need to send descriptions as Markdown in all sender types that support it. And also maybe we need to convert Markdown for senders that support HTML or other types of markup languages.

[2019-04-16 14:37] kamaev opened #354 "Cover cases when CheckResult contains CheckData /w (checkingError != nil && checkData.LastSuccessfulCheckTimestamp == 0)"
https://github.com/moira-alert/moira/blob/4c03982d9e87e38354a5b648971cda6f580811f3/checker/check.go#L184

Currently used conditions leads to transitions into EXCEPTION state when:
`timeSinceLastSuccessfulCheck >= triggerChecker.ttl` only because of timeSinceLastSuccessfulCheck = checkData.Timestamp - 0

and it's very unexpected to receive messages like "Remote server unavailable. Trigger is not ch

[2019-04-16 14:48] kamaev opened #355 "[ NODATA state by TTL ] Set event timestamp equal to transition time instead of time when data were lost"
Время события должно отображать время когда данные были потеряны.
Допустим, у тебя есть триггер с TTL 600 секунд (10 минут). Допустим, точки перестали идти в 15:46. NODATA сработает в 15:56, и в алерте придет время срабатывания триггера 15:46, а по-нормальному надо в алерте писать 15:56, то есть когда была обнаружена пропажа.

[2019-04-16 15:07] kamaev opened #356 "Make getMaintenanceInfoMessage to be a part of Notifier to avoid usage of different timezones in the same message"
https://github.com/moira-alert/moira/blob/4c03982d9e87e38354a5b648971cda6f580811f3/checker/maintenance.go#L39

![tz](https://user-images.githubusercontent.com/5269320/56221133-1de46380-6083-11e9-8d15-123ea6fd77e1.png)

Access location via notifier.Config.Location

[2019-04-17 13:24] #2 closed

[2019-04-17 13:27] beevee commented on #3
Push and pull types are already implemented. Other types we are not going to implement.

[2019-04-17 13:27] #3 closed

[2019-04-17 13:27] #4 closed

[2019-04-17 13:29] #11 closed

[2019-04-17 13:30] beevee commented on #44
Will solve in #8

[2019-04-17 13:30] #44 closed

[2019-04-17 13:30] #164 closed

[2019-04-17 14:08] #307 closed

[2019-04-17 14:08] beevee commented on #307
Done in 2.5

[2019-04-17 14:09] beevee commented on #311
Done in 2.5

[2019-04-17 14:09] #311 closed

[2019-04-17 14:19] #351 closed

[2019-04-17 14:48] kamaev commented on #333
Convert font.ttf to bytes (font.go) by using https://github.com/wcharczuk/file2bytes

[2019-04-18 08:39] avinchakov opened #357 "moira-checker - NaN"
Добрый день,
Пару лет назад я уже задавал вопрос, решение я так и не нашел.
Проблема так и осталась.
Имею:
[code]
Стоит carbon-c-relay. На машинах - collectd. С графитом (стоковый с whisper) проблем нет.
Вот пример триггера памяти с 4х серверов:
[code]
И такого у меня много.
Предыдущий тикет https://github.com/moira-alert/worker/issues/44

Есть какое-то решение данной проблемы?

[2019-04-18 11:05] kamaev opened #358 "Trigger metrics menu dropdown buttons aren't working"
It seems that no api requests are being made by clicking "Delete" or "Maintenance"

[2019-04-18 12:50] kamaev commented on #357
Привет!
Moira переписанная на Go обрабатывает данные несколько иначе, чем более ранние Python версии, что сейчас представляет из себя проблема?
Полученный output говорит о том, что по метрикам триггера не приходят значения

[2019-04-18 13:24] borovskyav commented on #357
Привет, да, @kamaev все верно сказал. По логам кажется что проблемы нет, потому что по данным метрикам просто не приходят точки. Давай лучше поймем, правда ли этих точек не должно быть или это нормальное поведение и по метрикам просто перестали идти данные?

[2019-04-18 13:41] borovskyav commented on #357
Как я понял раньше у тебя `Invalid Nan value when encoding double` проблема возникала, сейчас что-то подобное есть?

[2019-04-18 14:05] avinchakov commented on #357
В том то и дело что данные постоянно пропадают в мойре, и срабатывает алерт. А по графиту - данные есть.
Сам тригер прост:
Target
[code]

[2019-04-18 14:13] borovskyav commented on #357
У нас есть два служебных метода в api, можешь посмотреть есть ли данные в метриках здесь:
´https://{moiraUrl}/api/trigger/{triggerId}/render´ - отобразит метрики графиком
´https://{moiraUrl}/api/trigger/{triggerId}/metrics´ - отобразит в виде json’a

[2019-04-18 14:16] kamaev commented on #357
Нужно убедиться в том, что и у Графита и у Мойры в конфиге storage-schemas.conf указан одинаковый и соответствующий интервалу отправки ретешен для этих метрик. Также стоит проверить что сейчас показывают собственные метрики carbon-c-relay по очередям на отправку данных. Возможна ситуация при которой метрика не пришла вовремя, при это алертинг уже сработал, а в графит она только записалась

[2019-04-19 03:47] avinchakov commented on #357
Схема одинаковая.
График очередей почти совпадает. Сильных отклонений нет.
По служебным методам взял более наглядный пример, в котором постоянно пустые метрики у разных инстансов:
Тригер:
`aliasByNode(derivative(vmw.us-vcsa_local.us-datacenter.us-vmcluster.esx.*.quickstats.overallCpuUsage),5)`

Render:
`{"status":"Internal Server Error","error":"no points found to render trigger: d71703ec-9073-49a

[2019-04-19 05:29] aswinmprabhu commented on #353
Hey. I can help. Slack supports basic MD I guess.
https://api.slack.com/docs/message-formatting#message_formatting

[2019-04-19 05:30] borovskyav commented on #357
И по этому таргету в графите все строится, да?

[2019-04-19 05:34] avinchakov commented on #357
Да, все без пробелов, данные идут.

[2019-04-19 07:06] kamaev commented on #357
А через tcpdump метрики на машине с moira-filter отлавливаются?
Есть ли у него в логах какие то ошибки?

[2019-04-19 07:41] avinchakov commented on #357
[code]

В логах ошибок нет. Уточню - у меня все на одном сервере. Проблем с памятью и CPU не наблюдаю.

[2019-04-19 08:07] kamaev commented on #357
Если не трудно, скинь еще пожалуйста значения вот этих метрик, которые Мойра генерит сама:

[code]

и какой в конфиге фильтра установлен `cache_capacity`?

[2019-04-22 06:17] avinchakov commented on #357
Метрики не были выключены, включил. Такого параметра вообще нет у меня в конфиге, поставил 10

[2019-04-23 04:16] avinchakov commented on #357
Мне кажется я нашел проблему. Я в какой-то момент оставил дефолтные параметры в checker.yml.
Пока поставил так, и вроде работает:
[code]
У меня все метрики пушатся раз в 60сек.

[2019-04-23 05:11] borovskyav commented on #357
Странно что это помогло =)

[2019-04-23 05:12] avinchakov commented on #357
ну плюс я рестартанул все) и поставил cache_capacity 10.
да, они.

[2019-04-23 05:15] borovskyav commented on #357
cache_capacity=10 - это дефолтное значение оно бы и само проставилось.
Почему мы про это спрашивали - у мойры есть некоторая зависимость от количества входящих метрик и метрик для сохранения от cache_capacity.
Когда число входящих метрик и метрик для сохранения становится больше какого-то порога стоит поиграться с cache_capacity.
Мы это описывали в документации к конфигам:

Note: As this value inc

[2019-04-23 05:18] avinchakov commented on #357
![Снимок экрана 2019-04-23 в 10 17 28](https://user-images.githubusercontent.com/13016561/56556281-050f0d00-65b1-11e9-966f-6ed4f7489396.png)

[2019-04-23 05:18] avinchakov commented on #357
вот еще метрики которые вы просили

[2019-04-23 05:21] borovskyav commented on #357
Да, по графикам всё четко, давай подождем пару дней. Если воспроизведется снова - пиши. Потом мы закроем issue. Если вдруг опять будет повторяться открой ишью снова.

[2019-04-23 05:22] avinchakov commented on #357
Хорошо, понаблюдаю - отпишусь. Спасибо большое.

[2019-04-23 05:22] aswinmprabhu commented on #353
Senders like pushover and slack seem to support basic HTML but not all of it. For example, the web UI supports MD headers which are converted to `h1` tags but these are not supported by pushover and slack.
https://pushover.net/api#html
What do we do in such cases?

[2019-04-25 06:07] #299 closed

[2019-04-26 05:23] borovskyav commented on #357
Привет! Закрываю ишью, если будут проблемы пиши, продолжим разбираться)

[2019-04-26 05:23] #357 closed

[2019-05-13 12:36] beevee opened #362 "Make checker scalable"
Процесс прихода эвентов в чекер устроен таким образом, что чекер нельзя масштабировать. В частности, некоторые кэши (например, когда в последний раз была проверка) находятся в памяти реплики.

Допустим, у нас есть триггер, по которому приходит 100 метрик. Интервал чека выставлен в 30 секунд. По этой логике чекер не должен чекать один триггер больше двух раз в минуту. При трех репликах чекера прове

[2019-05-13 12:42] beevee opened #363 "Rethink events page logic"

[2019-05-13 12:53] beevee opened #364 "Rewrite self-state check"
1. Код в self-state check сложно дописывать и поддерживать.
2. Хочется уметь отключать некоторые чеки. Например, если человек не пользуется Prometheus, то отключить селф-чек для него.
3. Добавление нового селф-чека не должно приводить к экспоненциальному усложнению кода.
4. Свежие инсталляции Мойры не должны впадать в панику, потому что в них нет метрик.

[2019-05-13 13:03] beevee opened #365 "One-click installation in K8s"

[2019-05-13 13:17] beevee opened #366 "Datasource Prometheus"
Втаскиваем Prometheus как датасорс по аналогии с remote Graphite.

1. Втащить датасорс: на уровне чекера понимать этот тип триггера, реализовать интерфейс MetricSource (взять из графаны).
2. Научиться в вебе переключать на этот датасорс и сохранять новый тип триггера в базе. По возможности втащить подсветку синтаксиса из какого-нибудь готового реакт-компонента (или из графаны!).
3. Валидировать тр

[2019-05-13 13:24] beevee commented on #281
Сделаем в #366.

[2019-05-13 13:24] #281 closed

[2019-05-13 13:45] beevee commented on #353
We should:

1. Make sure all existing senders use Markdown properly, or at least strip formatting if they don't. For example, we can use full Markdown in Slack, we can convert to full unrestricted HTML for email, and to subset of HTML for Pushover, etc.
2. Make sure all existing senders use description to some extent, depending on message size limit. For example, Slack can use full description, Te

[2019-05-13 13:56] beevee commented on #240
Придумали вот что. Сейчас такие нотификации уже есть, но они настраиваются через конфиг и присылают уведомления только "админам Мойры". Нужно вынести эту настройку в обычные подписки, чтобы любой желающий мог получать спам.

1. Сделать псевдотег (?), который приводит к получению уведомлений об отключении Мойры.
2. Причесать внешний вид этих уведомлений: сообщать о переходе обратно в ОК, сделать но

[2019-05-14 09:44] beevee commented on #315
Везде прошелся, ссылка была только в одном репозитории, пулл реквест прилагается.

[2019-05-15 01:03] kamaev opened #368 "[ trigger metrics ] Show "Delete" button only when it's necessary"
![metrics_list](https://user-images.githubusercontent.com/5269320/57741606-f65ed600-76d6-11e9-92ac-0ae0d371fa58.png)

[2019-05-15 05:24] beevee commented on #368
Не уверен. Ты предлагаешь ждать, пока в NODATA уйдет? А если там TTL большой?

[2019-05-15 05:25] beevee commented on #368
Представляю себе такой сценарий: я вывожу сервер из эксплуатации, хочу удалить метрики из Мойры. А мне надо ждать 10 минут или даже больше. Ну я пойду пока чай пить, а потом и вовсе забуду об этом.

[2019-05-15 05:39] #315 closed

[2019-05-15 05:44] kamaev commented on #368
Можно поставить метрики в режим обслуживания и грохнуть их как появится время.
Я просто подозреваю что в большинстве случаев эти кнопки воспринимаются не как "перестать наблюдать за метрикой которая больше не приходит", а "перестать наблюдать за метрикой вообще"

[2019-05-15 14:05] usbulat opened #369 "Limit memory usage of moira-checker"
Hello,

Is there any property for moira-checker to limit its memory usage?

[2019-05-16 06:47] kamaev commented on #369
Hi!
It mostly depends on how the triggers are configured
For example, right now we have our 17.64K triggers moira setup with 3 working checker nodes (400 mb rss each)

You may find your most "greedy" triggers by running following scripts:

1. check if some of your triggers configured to analize points for more than
`metrics_ttl` interval (https://moira.readthedocs.io/en/latest/installation/configu

[2019-05-16 07:35] aswinmprabhu commented on #353
Slack's MD seems to a bit different.
The normal MD syntax supported by the web UI uses 2 * around the text for bold but slack uses just one * around the text.
Another point is that telegram and slack don't support MD headers that start with #. What should be done in these cases?

[2019-05-16 09:34] beevee commented on #353
Try to convert to appropriate syntax where possible, and strip all unsupported syntax, leaving just plain text.

[2019-05-16 12:21] usbulat commented on #369
Hi, @kamaev! Thank you so much. We had metrics_ttl=24h, so thats why checker used so much RAM.
So as I understand metrics_ttl limit the amount of metrics data to keep in RAM and then commits it to DB?

And another question, you've written that you have 3 checker nodes, how did you scale it?

TIA

[2019-05-16 15:16] kamaev commented on #369
Hmm, 24 doesn't really seems to be some kind of large metrics_ttl. Do you run moira-checker and redis on the same host?

Here is how it works (very very simplified):
- for every created trigger Moira stores special pattern (based on trigger targets)
- every incoming metric being checked by moira-filter that if it matches at least one of that patterns than it can be saved in redis
- moira-checker g

[2019-05-16 15:18] kamaev commented on #369
Here is simplified scheme of our setup:
![moira_setup](https://user-images.githubusercontent.com/5269320/57865804-b18e8880-7817-11e9-82a9-b6888ea8cac1.png)

[2019-05-23 08:37] beevee commented on #217
https://github.com/wcharczuk/go-chart/pull/120

Судя по другим пулл-реквестам в этом репозитории, ждать мержа можно долго. Поэтому собираюсь переключить временно Мойру на мой форк.

[2019-05-30 09:56] kamaev opened #373 "[ telegram sender ] bad redis key naming / key storing"
- connector.RemoveUser is never being used (except for tests)
- non-unique chat titles are not allowed:
https://github.com/moira-alert/moira/blob/1084b514bb3fe7b73b7a69adb305eb04590a62aa/senders/telegram/handle_message.go#L37

[2019-05-31 14:19] AlexIvchenko opened #374 "Webhook payload"
Hi! I am currently investigating if can use moira for my purposes. I need to integrate moira with my monitoring system . We want to have a notifier as a separate service.

The way we are considering to do that is the webhooks. However, payload is trimmed and does not contain all required fields to generate notifications. Why doesn’t moira forward entire model (which is defined in datatypes.go) to

[2019-06-04 19:09] kamaev commented on #374
TODO:
  - Add other valuable fields from NotificationEvent
  - Consider using "text/template", "github.com/masterminds/sprig" to pass k:v and/or custom headers

[2019-06-05 08:19] beevee opened #375 "Trigger schedule displayed without timezone"
I can create a trigger with a schedule using any timezone (or even without any timezone). Let's say I've created a trigger via API with a schedule active from 09:00 till 23:00 every day. And, of course, I forgot to set up my timezone offset (I'm at UTC+5).

In web UI I'll see something like this:
![image](https://user-images.githubusercontent.com/1009675/58940860-0f1d5180-8794-11e9-9cff-2457cd40f2

[2019-06-07 08:22] beliys opened #376 "Implementation of sending notifications through pagerDuty service."
Hello, we really need the ability to send notifications through PagerDuty (pagerduty.com) service.
Example sending from thay API (Golang) - https://v2.developer.pagerduty.com/#go
Thank you for the implementation in advance.

[2019-06-07 09:54] borovskyav commented on #376
Hi! This sender in progress now. We will create an issue later and will attach this issue.

[2019-06-07 09:56] borovskyav opened #377 "Support for additional delivery channels"
Moira supports a number of delivery channels such as email, Slack, Telegram, etc. to inform users that a certain trigger was activated (see Setting Up Your Subscriptions).

The aim of this project is to provide support for a number of additional delivery channels. To do so, one should talk to community and research possible channels to be added, contribute corresponding senders, and tune the web U

[2019-06-07 09:58] #376 closed

[2019-06-10 10:05] #217 closed

[2019-06-10 14:07] beevee opened #379 "Notify when count of metrics in trigger changes"
We are stepping into the new world of orchestrated clouds. Long-living pretty-named hosts are gone and replaced by short-lived containers with some random characters as a host name.

Yesterday we had a pattern `DevOps.*.cpu.percent` that matched:
* `DevOps.host1.cpu.percent`
* `DevOps.host2.cpu.percent`
* `DevOps.host3.cpu.percent`

Today it matches a lot more metrics:
* `DevOps.container-93EE63.c

[2019-06-10 14:24] beevee opened #380 "Add Prometheus endpoint for internal metrics"
Moira can send internal metrics to Graphite (and, of course, to itself). But we are moving towards Prometheus-only installations, so we need to be able to function without Graphite.

Internal Moira metrics should be available as a Prometheus-compatible endpoint.

[2019-06-11 11:42] biancalana commented on #380
Moira is going to discontinue graphite metrics support ?

[2019-06-11 14:18] borovskyav commented on #380
No, Moira will support both graphite and prometheus.

[2019-07-08 11:31] beliys commented on #377
Can I still request support for sending notifications through Rocket.Chat (https://rocket.chat/)?

[2019-07-15 06:03] borovskyav commented on #240
Делаем в https://github.com/moira-alert/moira/issues/364

[2019-07-15 11:42] flyik commented on #366
Добрый день. Скажите, пожалуйста, есть какие-нибудь прогнозы по времени?

[2019-07-15 12:50] Pliner commented on #366
Думаю, что прогноз от пары недель до месяца, однако, речь про мердж в мастер. Вероятно, релиз будем собирать еще сколько-то времени.

[2019-07-17 08:35] beliys opened #390 "Create a public repository for easy updating."
Create a public repository for easy updating. Now deb/rpm packages are created, but they need to be installed manually, which is not very convenient. As option there is service cloudsmith.io, which allows you to create free repositories without any restrictions for Open-Source projects (https://cloudsmith.io/f/open_source/). The service has its own API for easy automatic interaction.
I think it wo

[2019-07-18 08:17] beevee commented on #344
А чо в ревью-то перевели? Где PR?

[2019-07-18 08:31] Nixolay commented on #344
feature/subscriptions_tags

[2019-07-18 08:39] Nixolay opened #392 "Disallow deleting tags that are used in existing subscriptions (#344)"
Fix #344

[2019-07-18 09:24] #392 closed

[2019-07-18 12:15] Nixolay commented on #333
feature/suport_unicode_characters_like_emojis

[2019-07-19 12:33] madetara opened #396 "Development section of REAMDE lacks info on Redis requirement"
**Problem**

In its current state of readme it's unclear that you need local redis for tests to run

**Suggested solution**

- add info about redis requirement to development section of readme
- suggest easy way to start local redis (using docker)

[2019-07-22 08:34] #396 closed

[2019-07-22 10:54] #344 closed

[2019-07-24 12:29] #333 closed

[2019-07-25 11:06] #244 closed

[2019-07-25 11:12] borovskyav opened #401 "InvalidProgramState then schedule is null on Front then edit trigger"
Пофиксить ситуацию когда с сервера прилетает расписание равное null. Кажется это нормальное поведение. Стоит просто делать стандартное расписание.

[2019-08-08 07:09] #327 closed

[2019-08-08 09:27] sashasushko opened #406 "Same key given to the tags List elements"
From https://github.com/moira-alert/web2.0/issues/264

[2019-08-08 09:28] sashasushko opened #407 "Can't serve Web2.0 or API behind reverse proxy"
From https://github.com/moira-alert/web2.0/issues/263

[2019-08-12 12:01] #252 closed

[2019-08-14 14:49] ihard opened #411 "Trigger mapping value"
In the trigger, add a display of values to send a message that is readable by a person.
Example:
0 - ok
1 - good
2 - very good ;)

[2019-08-21 07:23] borovskyav commented on #215
Протащили в booking реализацию carbon-api нормальную валидацию на неизвестные функции. На стороне мойры сделаем только удобочитаемые ошибки при сохранении на подобие тех что падают при сохранении local триггера.

[2019-08-26 10:21] beevee commented on #353
Message and description size fixed for Slack. Markdown formatting added to Slack. Description added for Email. #403

[2019-08-26 10:22] beevee commented on #353
Other senders, like Telegram and Pushover, are not ready yet.

[2019-08-26 10:27] beevee commented on #364
Подумать про каждый чек, нужно ли выключать нотификации. Например, если недоступен ремоут, зачем выключать нотификации? У тебя просто чекер не работает и все.

[2019-08-27 04:45] strangeman commented on #366
Ребят, добрый день, а есть прогнозы по данной фиче? Насколько я вижу, работы ведутся в ветке https://github.com/moira-alert/moira/commits/feature/prometheus-366, может ее уже можно пощупать, параллельно помочь с документацией, например?

[2019-08-30 11:28] beevee commented on #364
Доступность Редиса: проверять всегда, нотифаер **не** отключать.
Хартбит фильтра: проверять только если есть хоть один локал триггер, нотифаер отключать.
Локальный чекер чекает: проверять только если есть хоть один локал триггер, нотифаер **не** отключать.
Ремоут чекер чекает: проверять только если есть хоть один ремоут триггер, нотифаер **не** отключать.

Дополнительно для свежих инсталляций Мойр

[2019-08-30 11:33] beevee commented on #364
Отредактировал комментарий: на недоступность Редиса тоже надо отключать нотифаер. Сценарий: Редис был недоступен 11 минут → в нем дырка в метриках 11 минут → Редис поднялся → чекер прочекал и навалил ноудат → нотифаер разослал.

[2019-09-03 12:07] #215 closed

[2019-09-09 10:29] #355 closed

[2019-09-09 11:01] beevee opened #423 "Migrate to Go modules"
I tried to migrate Moira from govendor to go modules in Go 1.12, but conversion failed due to some unsupported features of govendor (probably https://github.com/golang/go/issues/25556, not sure). We need to check again if it's possible for Go 1.13.

[2019-09-09 13:43] beevee opened #424 "Add subscription transfer and contact deletion to CLI"
Two features are often required in Moira (e.g. for ex-employees):

1. Transfer subscriptions and contacts from one user to another.
2. Delete all contacts and subscriptions for a user.

I propose we implement these features in our CLI tool.

[2019-09-19 06:23] borovskyav commented on #288
Will be done in #364

[2019-09-19 06:23] #288 closed

[2019-09-19 06:50] beevee commented on #377
This issue was worked on by @aswinmprabhu during Google Summer of Code 2019. Some delivery channels were added. Not Rocket.Chat, sadly.

If you are interested in new delivery channels, feel free to open a new issue (one issue per one delivery channel, please).

[2019-09-19 06:50] #377 closed

[2019-09-19 08:19] imavroukakis opened #426 "Triggers do not record a value if sending graphite "-1" magic value for timestamp"
- Steps to replicate
	- Create a new trigger
	- send data using `-1` as datestamp e.g. `echo "DevOps.my_server.hdd.freespace_mbytes 9 -1" | nc localhost 2003`
	- Trigger records data sent, but no value is present
	![image](https://user-images.githubusercontent.com/1764981/65226195-5834af80-dabe-11e9-8045-277db9259b1f.png)

Any subsequent data sent, is ignored and you have to delete the trigger and

[2019-09-19 09:47] beliys opened #427 "Implementation of sending notifications through Rocket.Chat"
Hello, we really need the ability to send notifications through Rocket.Chat (https://rocket.chat/).
Thank you for the implementation in advance.

[2019-09-23 13:31] beevee opened #428 "Improve Advanced Mode"
Сейчас Advanced Mode работает крайне ущербно:

1. В t1 можно указать паттерн, который разложится на несколько метрик. В остальных таргетах можно указывать только паттерны, которые разложатся строго в одну метрику.
2. Если срабатывает эвент, в уведомлении пишется имя и значение метрики из t1, даже если сработало из-за превышения какой-то другой метрики в t2 или t3.

Пользователи это не понимают, де

[2019-09-23 13:46] beevee commented on #428
Пример 1.

У меня есть метрики:
`host1.loadavg` — Load Average на сервере host1
`host2.loadavg`
`host3.loadavg`
`host1.cpu_count` — количество ядер на сервере host1
`host2.cpu_count`
`host3.cpu_count`

Я создаю Advanced Mode триггер:
t1 — `aliasByNode(*.loadavg, 0)`
t2 — `aliasByNode(*.cpu_count, 0)`
expression — `t1/t2 > 1 ? ERROR : OK`

В результате в триггере образуется три метрики, по которым

[2019-09-23 13:52] beevee commented on #428
Пример 2.

У меня есть метрики:
`host1.loadavg` — Load Average на сервере host1
`host2.loadavg`
`host3.loadavg`
`all_hosts.cpu_count` — количество ядер на любом из серверов (везде одинаковое)

Я создаю Advanced Mode триггер:
t1 — `aliasByNode(*.loadavg, 0)`
t2 — `all_hosts.cpu_count`
expression — `t1/t2 > 1 ? ERROR : OK`

В результате в триггере образуется три метрики, по которым отдельно отслежив

[2019-09-23 13:54] beevee commented on #428
Поскольку среди таргетов могут быть такие, которые раскрываются в одну метрику (т.е. имя будет только одно), имена для результирующих метрик нужно брать из первого таргета, который раскрывается больше чем в одну метрику. Если все таргеты раскрываются в одну метрику — ну что ж, значит она одна и есть.

[2019-09-23 13:59] beevee commented on #428
Можно обсудить вариант, при котором не обязано быть одинаковое количество метрик во всех таргетах. Недостающие значения заменять на какое-то дефолтное (ноль? задавать через настройки триггера?). Но я считаю, что это только к выстрелам в ногу будет приводить.

[2019-09-24 06:08] borovskyav commented on #428
Да, кажется этот краевой сценарий нужно обрубать на корню, нет сопоставленной метрики в одном из таргетов - ничего не делаем.

[2019-09-25 10:28] beevee opened #429 "Metrics mixed up in graph legend"
![render-2](https://user-images.githubusercontent.com/1009675/65592933-f639e580-dfa8-11e9-8192-0b3f5cfe5043.png)
![render](https://user-images.githubusercontent.com/1009675/65592934-f639e580-dfa8-11e9-87bb-458e8b556bf7.png)

Compare two renders, one from Graphite web, another from Moira render API. Legend in Moira is wrong: two metrics got mixed up.

[2019-09-30 10:55] MetikovVadim opened #431 "Wrong values returned for some metrics."
Hi there!

We get a strange behavior in our installation.
We receive metrics with mask: SomeProject.system.<instance_name>.<hostname>.cpu.usage
Also we have set retentions for SomeProject\. : 10s:2d, 1m:3d, 15m:1y
And if we use in trigger next target:
aliasSub(aliasByNode(movingAverage(SomeProject.system.<instance_name>.*.cpu.usage, '120sec'), 4), '(.*)', '\1 cpu usage')
we get all resolved target

[2019-09-30 10:58] MetikovVadim commented on #431
Starged investigation gave such results:
get-request to stored points (https://moira.ourCompany.com/api/trigger/5f6af2dd-c3a4-40b2-a2cf-8b17630869ea/metrics) displays only points with "one per minute" timestamps.

[2019-09-30 11:12] MetikovVadim commented on #431
We reloaded retentions and all works fine.

[2019-09-30 11:13] #431 closed

[2019-10-01 08:55] #236 closed

[2019-10-03 08:19] beevee opened #437 "Notifier crashes with nil pointer dereference"
[code]

[2019-10-03 08:34] #423 closed

[2019-10-04 07:36] #356 closed

[2019-10-06 07:35] borovskyav commented on #426
Related to this path of graphite documentation https://graphite.readthedocs.io/en/latest/feeding-carbon.html#step-3-understanding-the-graphite-message-format

[2019-10-08 10:30] #426 closed

[2019-10-14 09:31] litleleprikon opened #441 "Improve logging"
I would like to see more structured and detailed logs during troubleshouting. At this time logs written by Moira services formatted as a plaintext and it's painful to search something in it. I wish to increase the amount of service logs in the services with the lower amount of load. I think that web and notifier will be good targets for more detailed logging. Another concept is to use structured l

[2019-10-17 10:02] kam1sh opened #445 "Self-state check doesn't send alerts when redis is unavailable"
Hello. Thanks again for open-sourcing Moira.

Yesterday I've played with Moira notifier self-state settings and noticed that if redis is unreachable then notifier writes warnings in log, but doesn't send alerts to contacts.

Here's the log:
[code]
At first I thought that the problem is in contacts settings, but they works i.e. when another service (like checker) is down.

I understand that could b

[2019-10-18 16:20] litleleprikon opened #446 "Fix linter issues"
Moira is using golangci-lint to check code. Unfortunately we have a bunch of code from the times before we started to use linters and because of that we had to disable some linters.

You have a chance to help us to improve our code quality fixing linter issues.

I created a branch called `feature/lint-hacktoberfest`. You can fork it and fix issues in files.

To contribute you can use following ste

[2019-10-18 20:21] maximusKon commented on #446
I can't find branch feature/lint-hacktoberfest. How should I actually contribute?

[2019-10-19 07:03] ravik-karn commented on #446
Can i pick this?

[2019-10-22 13:56] #424 closed

[2019-10-24 10:48] beliys opened #448 "[Moira-web] Import/Export buttons for triggers, notifications and subscriptions"
Hi! It would be nice to have the additional ability to do Import/Export triggers, notifications and subscriptions via the web interface. I think it would be convenient to have such an opportunity and I suspect that it is not very difficult to implement because API calls are ready.

[2019-10-29 13:35] genuss opened #449 "Calendar support for triggers and notifications"
Follow up after smalltalk at Devoops 2019.

Preface
A schedule for triggers and notifications is one of the most important features, which is usually used for two reasons:
* For triggers which aren't always in good state because of their nature. For example numbers of processed request can be zero for a service which is used only at work-hours.
* Notifications should be sent only when receiver can

[2019-11-05 10:55] #342 closed

[2019-11-26 08:35] litleleprikon opened #453 "Remove Convey from tests"
# Feature request

In my opinion in Moira project convey tests are used in wrong and inconvenient way. I propose to discuss the perspective to remove Convey tests and rewrite tests using default `testing.T`.

**Previous discussion:**

_Originally posted by @beevee in https://github.com/moira-alert/moira/pull/452_

_Originally posted by @litleleprikon in https://github.com/moira-alert/moira/pull/45

[2019-11-26 09:10] titusjaka commented on #453
I checked 3 random projects and they all use testify 😄
- https://github.com/containous/traefik/blob/9ef4f47ba01fdd45547957b7be6145bf7bab68f2/go.mod#L79
- https://github.com/hashicorp/consul/blob/42dbf7f62342cd198f10147d644c707ae5657fb3/go.mod#L73
- https://github.com/helm/helm/blob/456eb7f4118a635427bd43daa3d7aabf29304f13/go.mod#L49

[2019-11-26 09:19] litleleprikon commented on #453
@titusjaka I do not think that "everyone is using testify" is a valuable reason to remove Convey. As for now we have a situation in which our tests are not using Convey in correct way. On the other hand removing the Convey is a long and hard task. We want to define the easiest way to make our tests better and quicker. Can you provide another disadvantages of Convey that allow us to decide to remov

[2019-11-26 09:27] litleleprikon commented on #453
IMHO Convey also is not intended to use in benchmarks and table-driven tests. We have a table-driven tests that use convey and this way of testing is much slower.

[2019-11-26 09:55] beevee commented on #453
@titusjaka assume that today somebody released a supercool new testing library that is 100× better than testify. Imagine that you came to Helm or Consul repo and created an issue telling them to drop testify and migrate all their tests to supercool. What kind of response would you get?

Talk is cheap. Migrating all our tests to another testing library is a considerable effort. "All the cool guys u

[2019-11-26 10:01] titusjaka commented on #453
Frankly speaking, I did not mean to switch from convey to testify just to change one lib for another.
I suggested to use it as a good gateway for Open-Source newbies, who wants to start contributing but don't have enough time for huge issues.

[2019-11-29 11:58] beevee opened #457 "Provide stable sorting order in triggers API"
Some automation tools require getting trigger information in bulk. For example, someone may want to ensure that there are no extra triggers that have a specific tag. Two potential problems arise with `GET triggers` API if there is a lot of triggers with a particular tag (order of tens of thousands):

1. If you request a page with size 10000, it will render several minutes and put a significant loa

[2019-12-02 15:09] beevee opened #459 "Panic in filter"
[code]

[2019-12-02 15:23] beevee commented on #459
vova616/xxhash is an old library. And it has warnings about unsafe pointers in README. Maybe we should switch to a maintained library like https://github.com/cespare/xxhash.

[2019-12-03 07:34] litleleprikon commented on #459
I think that usage of unsafe pointers is a valuable reason to change library

[2019-12-05 12:27] #437 closed

[2019-12-09 06:18] logicall commented on #366
Подскажите, пожалуйста, есть подвижки по Prometheus?

[2019-12-10 09:56] litleleprikon opened #469 "Report who and why turned off notifications"
In Moira when notifications turned off is very hard to determine who and why turned off notifications. I propose to add a text field that should be filled with purpose when someone will switch off notifications. When notifications turned off Moira should display user who disabled notifications and purpose.

[2019-12-11 09:46] #459 closed

[2019-12-23 20:13] sashasushko opened #472 "Show schedule timezone on trigger page"
From https://github.com/moira-alert/web2.0/issues/279

[2019-12-23 20:14] sashasushko opened #473 "Fix notifications page for troubleshooting"
From https://github.com/moira-alert/web2.0/issues/278

[2019-12-26 09:10] litleleprikon opened #476 "Inconsistent behaviour of notification renderer"
In this issue I propose to document all strange behaviour of message renderers.

1. Inconsistent rendering of empty lines. In this two examples empty lines are rendered in different ways. https://play.golang.org/p/tva1fu2Vp3c https://play.golang.org/p/6po0Lp6ZKPZ

[2020-01-09 14:09] beevee opened #481 "StatusIndicator doesn't support 4-status circles"
See moira-alert/web2.0#281 for context.

![image](https://user-images.githubusercontent.com/1009675/72074018-f15c3000-3312-11ea-8f67-1d72b0adea28.png)

The reason why there is no circle after the arrow is that `StatusIndicator` component supports no more than 3 statuses: https://github.com/moira-alert/web2.0/blob/3f9ef887c8bdb76ee5b7829369e1a8d5e623edee/src/Components/StatusIndicator/StatusIndicat

[2020-01-11 05:25] #473 closed

[2020-01-11 18:52] #380 closed

[2020-01-13 10:50] litleleprikon opened #484 "Add templates to trigger description"
It's often useful to add a Grafana dashboard link to a trigger description. But sometimes you have a templated dashboard. That is, you need to pass a specific variable value (e.g. host name) to open a dashboard that is relevant to the alert.

For example:
https://grafana.yourhost.com/some-dashboard?var-host=-METRICNAME-

We can add templating capabilities to our trigger descriptions to fill and re

[2020-01-28 22:05] prateek2211 commented on #472
By schedule timezone do you mean the timezone of user using the platform?
Would adding timezone beside `Add trigger` heading work fine?

[2020-01-29 07:12] sashasushko commented on #472
@litleleprikon look at this, pls

[2020-01-29 07:32] borovskyav commented on #472
In the first solution, we wanna show saved trigger timezone, because some of our users do not understand in which timezone the trigger is saved and why the schedule does not work correctly

[2020-01-29 07:33] litleleprikon commented on #472
Hi @prateek2211 schedule timezone is a timezone saved in schedule part of trigger. It is called `tzOffset`. The timezone is hidden right now on trigger page.

I propose to add timezone to this field on trigger page
![Screenshot 2020-01-29 at 10 32 39](https://user-images.githubusercontent.com/5058463/73336372-b6e71280-4282-11ea-8391-0bdb365f85da.png)

[2020-01-29 11:51] prateek2211 commented on #472
Thanks for the clarification

[2020-01-30 13:47] litleleprikon opened #488 "Send hello message in telegram chats on every start message in group chats"
# BUG REPORT

## What did you expect to see?
When I send message `/start@MoiraBot` in telegram group chats and this command was sent before bot do not reply for this message.

## What did you see instead?
Bot should reply for my message.

[2020-01-30 13:52] beevee commented on #488
It does reply. But only in personal chats, not in group chats. Weird logic.

[2020-01-30 13:54] litleleprikon commented on #488
@beevee My fault. The issue is about group chats. I will edit description.

BTW Does anyone know the reason of this behaviour? Is it really a bug? As we can see this behaviour was added manually but no-one knows the reason.

[2020-02-03 09:59] #358 closed

[2020-02-10 08:29] NullByte08 commented on #481
Can I work on this issue?

[2020-02-10 08:42] litleleprikon commented on #481
Hi @NullByte08 feel free to contribute to Moira!

[2020-02-10 12:33] litleleprikon opened #489 "Incorrect parsing of graphite tags with equal signs in value"
# BUG REPORT

## What did you expect to see?
Metrics that have equal signs in tag values should be accepted by Moira. For example `my.series;tag1=value1;tag2=value=2` is a valid metric with tags following carbon specification.

https://github.com/graphite-project/graphite-web/blob/7149908675664f341c91dcacfff83c55505564fa/docs/tags.rst#carbon

## What did you see instead?
Moira filters will drop th

[2020-02-10 12:35] litleleprikon commented on #489
The fix for this issue is a remove an `if` here https://github.com/moira-alert/moira/blob/master/filter/metrics_parser.go#L96-L99

We also need to cover cases with equals sign in tag value with test.

[2020-02-10 22:30] idoqo commented on #489
Hi @litleleprikon, I was trying to get familiar with the codebase and would love to take a shot at this.

The tests still fail after removing the mentioned `if` statement though, so I was wondering what would be the best way to leave all equal signs after the first one untouched because:

Given a sample input, say,
```"One.two.three;four=five;six=seven=eight 123 1234567890"```,
- `labelBytesScanne

[2020-02-11 09:00] litleleprikon commented on #489
Hi @idoqo you are absolutely right. I will check your PR soon!

[2020-02-16 10:37] hv7214 commented on #287
@sashasushko `/patterns` page is showing `undefined` error. I've also started fakeapi server at 9002.
![Screenshot from 2020-02-16 16-04-10](https://user-images.githubusercontent.com/42354803/74603137-5d7e4080-50d6-11ea-9e9c-a5c6f5000d4a.png)

[2020-02-17 05:41] idoqo commented on #469
Hi @litleleprikon, I'd love to work on this if it's still available. I'm not so clear if the notifications here refer to Subscriptions though.

[2020-02-17 07:42] hv7214 commented on #273
Since there is no one assigned on this issue, i'm picking this.

[2020-02-17 09:24] hv7214 commented on #276
@sashasushko i would prefer date-fns due to following reasons:
1. date-fns is immutable. That is it returns new Date instance from function which was run rather changing its own state.
2. date-fns is divided by function level. So only those things will be imported which are needed.

[2020-02-17 11:21] sashasushko commented on #472
@prateek2211 thank you very much for help!

[2020-02-17 11:22] sashasushko commented on #481
@NullByte08 how it doing? need some help?

[2020-02-17 11:23] #305 closed

[2020-02-17 11:26] sashasushko commented on #287
@hv7214 you need add some patterns fake data to fake api based on json-server

[2020-02-17 11:29] sashasushko commented on #276
@hv7214 it's argument :-)

So, you can send pull request. I'll review it. And, if need, we'll discuss date-fns at pull request

[2020-02-17 13:27] hv7214 commented on #287
@sashasushko i guess that data is supposed to be in db.json, right ?

[2020-02-17 13:30] hv7214 commented on #276
@sashasushko yeah sure : )

[2020-02-17 14:17] sashasushko commented on #287
@hv7214 yep. Unfortunately now it is supported manually

[2020-02-17 14:51] hv7214 commented on #287
Should i open an issue for same ?

[2020-02-17 15:34] sashasushko commented on #287
Not necessary. Thanks. There are only two issues for trigger page. This and #286

[2020-02-17 15:40] NullByte08 commented on #481
I was facing a lot of errors while installing Moira on windows(on docker), so currently I am not working on this issue.

[2020-02-17 16:42] sashasushko commented on #481
Okay.

[2020-02-17 16:43] sashasushko commented on #481
p.s. For web developing it's no need to installing Moira on PC. Look at https://github.com/moira-alert/web2.0/blob/master/README.md

[2020-02-17 20:13] idoqo commented on #216
Hi @beevee, I'd love to work on this if it is still available.

[2020-02-18 03:15] idoqo commented on #286
Hi @sashasushko I'd love to work on this and have created a PR for the fake data here: [#291]()

[2020-02-18 07:47] hv7214 commented on #287
i'm taking this up

[2020-02-18 08:05] sashasushko commented on #287
@hv7214 look at https://github.com/moira-alert/web2.0/pull/291

[2020-02-18 08:10] hv7214 commented on #287
@sashasushko thanks for reducing the effort. I was going to write fake patterns data :smile:

[2020-02-18 12:51] #489 closed

[2020-02-19 08:05] hv7214 commented on #481
@sashasushko I guess everywhere status is received as value and not array. In fact in `db.json` we are sending status as a value.

[2020-02-19 09:04] #273 closed

[2020-02-19 11:58] hv7214 commented on #216
@beevee i tried `t1 > 10 ? ERROR : check` where `t1 = 8` testing this expression using `expression_test.go` and got `err: no value with name check` and `result` empty.

[2020-02-20 04:28] hv7214 commented on #309
i am picking this up

[2020-02-20 11:08] A1bemuth commented on #188
So, I've been trying to reproduce this and it seems like the problem does not exist anymore. Here's an example of a notification for an event that happend at t-1h (non-realtime).
[code]
![image](https://user-images.githubusercontent.com/9745433/74928205-df35dd00-53fa-11ea-8342-87931393b2ca.png)

[2020-02-20 12:00] beevee commented on #472
Wrong sign, guys :-(

If `tzOffset` is -300, it's GMT+5, not GMT-5.

@prateek2211 @sashasushko

[2020-02-20 13:50] hv7214 commented on #469
@idoqo are you working on this ?

[2020-02-20 14:56] idoqo commented on #469
Oh No, not yet. Wasn't sure if the notification meant turning off a trigger or deleting a subscription.

[2020-02-20 15:45] hv7214 commented on #275
i see this is a small task. I am picking this. @sashasushko there are lot of flow errors, so for now should i leave flow-check ?

[2020-02-20 16:06] prateek2211 commented on #472
oops!, allow me some time to correct it

[2020-02-20 18:35] sashasushko commented on #472
@prateek2211 I think we need some unit test for convert function, that you wrote. What do you think?

[2020-02-20 18:40] sashasushko commented on #275
@hv7214  It's okay. Just ignore them. We have task for GSOC to rewrite Flow to TS. We also will fix those errors

[2020-02-20 19:40] adrijshikhar commented on #488
@beevee i would like to work on this issue, i have already setup the repo.
Can you please assign it to me?

[2020-02-20 19:42] adrijshikhar commented on #308
@sashasushko i would like to work on this. can you please assign this issue to me?
PS- i have already setup the repo.

[2020-02-20 20:01] vrongmeal commented on #469
Hey! I'm new here. Can I take this up?

[2020-02-20 21:07] adrijshikhar commented on #446
@litleleprikon i would like to work on this issue, can you assign it to me?
PS: i have already setup the repo

[2020-02-21 08:09] sashasushko commented on #308
@adrijshikhar feel free to send pull request :-)

[2020-02-21 08:16] litleleprikon commented on #469
Hi @idoqo notifications turned off means that this switcher on `/notifications` page is switched off

<img width="225" alt="Screenshot 2020-02-21 at 11 14 54" src="https://user-images.githubusercontent.com/5058463/75016271-a7cb3d00-549b-11ea-8834-af66a257bdd8.png">

[2020-02-21 08:20] litleleprikon commented on #481
@hv7214 can you please specify what exactly you want to ask?

[2020-02-21 08:21] litleleprikon commented on #488
@adrijshikhar  You can work on it

[2020-02-21 08:34] hv7214 commented on #481
@litleleprikon ignore it :sweat_smile: I misunderstood something.

[2020-02-21 09:10] hv7214 commented on #481
i am picking this up.

[2020-02-21 09:51] hv7214 commented on #375
@beevee @sashasushko if no one is working, can i pick this up ?

[2020-02-21 09:57] hv7214 commented on #469
@litleleprikon can i pick this up ?

[2020-02-21 10:01] idoqo commented on #469
Okay got it, will be on it then.

[2020-02-21 13:13] sashasushko commented on #375
@hv7214 I tnink it's already taken — https://github.com/moira-alert/moira/issues/472

@beevee it's true?

[2020-02-21 13:15] beevee commented on #375
Yes, we already have a PR for this issue. Just a small bug left.

[2020-02-21 13:19] beevee commented on #375
Duplicated by #472

[2020-02-21 13:19] #375 closed

[2020-02-22 09:36] hv7214 commented on #304
@sashasushko just want some clarifications before i start working on this issue. Can values be any random string or it should have some optimal substructure ?  Like `trigger/targets` can be any value or something like this `aliasByNode(Egais.Api.Front.Controllers.Time.*.*.*.*.p95,5, 7, 8)`.

[2020-02-23 16:44] hv7214 commented on #401
@borovskyav can you elaborate this ?

[2020-02-24 13:30] sashasushko commented on #481
@beevee there is changes from @hv7214, but his solution support only 4 colors. How you think, it's enough?

[2020-02-24 15:42] hv7214 commented on #481
Don't we have only 4-states right now ? But if you are planning to add more states in future then will surely make changes accordingly.

[2020-02-24 15:45] hv7214 commented on #481
For now we have switch cases defined to handle different number of status. It's kinda a static approach. I was thinking about dynamic approach. LIke render colours depending on the size of `statuses` array. If you think it's good idea then i'll be happy to think over it : )

[2020-02-24 15:50] beevee commented on #481
@sashasushko @hv7214 let's not overengineer this right now. Looks good to merge.

[2020-02-25 14:05] hv7214 commented on #379
What i understood:
1. Nowadays, containers are shortlived, i.e. keeps on created and destroyed/restarted.
2. This lead to bulk of `NODATA -> OK -> NODATA` metrics in redis, which is ofcourse false info.
3. So create a counter which maintains number of `NODATA` metric which in turn will give number of active metrics (total metrics - counter).
4. User can set threshold for same through UI.
5. Notify

[2020-02-25 14:10] beevee commented on #379
@hv7214 I imagined something like this:

When a user sets NODATA == DEL for a trigger, allow user to specify the desired amount of active (i.e. not deleted) metrics. Notify when there are more or less metrics than expected.

[2020-02-25 17:39] shashikant231 commented on #488
hello everyone .can anyone help to find the repo for this issue.i am  willing to work on this issue.
Thanks!!

[2020-02-26 09:09] #188 closed

[2020-02-26 16:20] idoqo commented on #448
Hi @litleleprikon, I'd love to work on this with some more info.

Does this mean exporting the JSON response that is, letting a user download it as a JSON file?

[2020-02-28 03:27] #472 closed

[2020-02-28 03:49] #481 closed

[2020-02-28 03:50] #275 closed

[2020-03-01 10:55] kunaltawatia commented on #304
@sashasushko  I think I could do this enhancement. Is this still available for assignment?

[2020-03-01 13:33] kunaltawatia commented on #304
Hi @hv7214,
I guess all values, which are to be randomised, belong to any type described in `Domain` folder, where their own types are mentioned.
For example `Trigger/targets` have a type of `Array<string>` mentioned in `Domain/Trigger.js` file. So it might have an array of random strings.

[2020-03-01 13:34] kunaltawatia commented on #304
@sashasushko I think I could do this enhancement. Is this still available for assignment?

[2020-03-01 13:40] hv7214 commented on #304
@kunaltawatia i know that it has to be string, that's why asked for clarification regarding the structure. Any random string doesn't make much sense. I think you should have a look in `db.json`.

[2020-03-01 13:42] kunaltawatia commented on #304
Oh I might have got your question wrong.

[2020-03-01 20:55] ani4aniket commented on #309
I guess @hv7214  is not working on this anymore. May I take this up @sashasushko.

[2020-03-02 05:45] sashasushko commented on #309
It would be correct to wait for @hv7214 response, but @ani4aniket you are right, this is open source, so everyone can just send a pull request with a solution.

[2020-03-02 05:52] sashasushko commented on #304
@kunaltawatia is right. The type must be correct. It's "first of all". But @hv7214 your opinion about consistency of mock data also is correct.

I'm not familiar with target syntax, you can dig itself (there is [some page in documentation](https://moira.readthedocs.io/en/latest/user_guide/advanced.html)) or ask backend developers. For example, @beevee

[2020-03-02 06:35] hv7214 commented on #309
@sashasushko it's okay, @ani4aniket go ahead

[2020-03-02 17:50] shashikant231 commented on #446
Hello @litleleprikon  i am super excited to work on this issue if anyone still no assigned.

[2020-03-02 19:49] ani4aniket commented on #309
Thanks, @hv7214 for maintaining the dignity of open-source.

[2020-03-02 23:04] srv-twry commented on #254
@beevee I'll be happy to take this one.

[2020-03-03 05:56] beevee commented on #254
Yeah, sure you can tackle this. But we don't assign tasks to new contributors anymore, since they disappear more often than not. Send us a pull request, and we'll review it.

[2020-03-03 16:50] shashikant231 commented on #167
HI @sashasushko  can i take this issue?

[2020-03-03 19:19] shashikant231 commented on #373
HI @kamaev  @beevee  can you plz elaborate what it means by "non-unique chat titles are not allowed?

[2020-03-04 06:01] sashasushko commented on #167
Let's first ask @borovskyav about task specification

[2020-03-04 08:08] #457 closed

[2020-03-04 09:44] litleleprikon opened #501 "Notifier killed by OOM killer on huge amount of notifications"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>
$ notifier --version
moira-notifier:master.2020-02-26-11-15
</pre></details>

## What did you expect to see?
After long time that notifier was switched off and switched on again notifier should send all notifications that was created during switch off period. I would also like to have a setting that specif

[2020-03-04 10:27] beevee commented on #373
Sure. When a Telegram user creates a subscription to a private group, notification channel is specified by the group title. Of course, different private groups in Telegram can have identical titles, but Moira doesn't allow this.

[2020-03-05 10:05] alishamohanty commented on #308
Is this issue still available? I would love to work on it.

[2020-03-05 11:45] sashasushko commented on #308
Let's ask @adrijshikhar

[2020-03-06 10:47] alishamohanty commented on #488
That's a great feature to be incorporated, it will help the user to have a belonging feel. In addition to greeting, we should say something more. Like adding "please have a look at the pinned message" etc.  If I am getting it right we want to make it using Telegram bot right @litleleprikon ?

[2020-03-06 10:48] alishamohanty commented on #488
I have prior experience with working with Bots, please let me know if I can work on it @litleleprikon .Thank you.

[2020-03-07 12:01] alishamohanty commented on #308
Since @adrijshikhar haven't replied, can I take the task @sashasushko ?

[2020-03-07 12:01] alishamohanty commented on #488
@sashasushko Your ideas about it?

[2020-03-07 12:02] adrijshikhar commented on #308
Go ahead

[2020-03-07 15:56] alishamohanty commented on #308
Thanks @adrijshikhar :D Working on this issue.

[2020-03-09 05:44] hv7214 commented on #379
@beeve i want some more details : **Notif has to be sent once per crossing the marked metric level, or after every 24 hrs if metric count is less or more ?**

[2020-03-09 07:43] #287 closed

[2020-03-09 07:43] sashasushko commented on #287
Fixed in https://github.com/moira-alert/web2.0/pull/292

[2020-03-09 07:53] hv7214 commented on #254
@srv-twry are you still on it ? If not, then i picking this up

[2020-03-09 15:54] srv-twry commented on #254
Sure feel free. I've closed my PR

[2020-03-09 16:09] hv7214 commented on #216
@beevee I see two issues here:
1. When variables/states are undefined, `t1 > 10 ? ERROR : WRONGSTATE`.
2. When ternary expression syntax is wrong.

[2020-03-09 16:15] hv7214 commented on #216
And to be generic about second point, `t1 < 10 ? ERROR` is passed

[2020-03-10 08:22] alishamohanty commented on #446
I was checking on the issue. But there was no feature/lint-hacktoberfest branch. Will working in the master branch be okay @litleleprikon?

[2020-03-10 19:08] alishamohanty commented on #446
@sashasushko can you help me point?

[2020-03-11 11:10] hv7214 commented on #326
@borovskyav so basically more flexibility has to given to schedule. But i don't understand the need of schedule when triggers/subscriptions are turned off. Just giving schedule slice functionality works both ways.

[2020-03-12 07:50] beevee commented on #445
@Nixolay does #364 fix this?

[2020-03-12 08:21] beevee commented on #216
@hv7214 these are two possible ways to make a broken expression, yes. But we need to validate all possible mistakes, not just these two.

[2020-03-12 08:21] sashasushko opened #508 "Перевести web-часть с retail-ui на @skbkontur/react-ui"
Это необходимо, чтобы отказаться от less сборки в проекте и упростить webpack.config.js вновь до одно файла, где по NODE_ENV останется только проверять - собирать стили в бандл, а скрипты бить на чанки, или нет. А так же, чтобы отказаться от webpack-конфига в Сторибуке.

По шагам:
1. Подключить @skbkontur/react-ui
2. Перенастроить сборку
3. Изменить import'ы в файлах
4. Проврить, что не сломался w

[2020-03-12 08:47] hv7214 commented on #216
@beevee apart from these two, I think others are properly handled by `expression.go`. In fact, I have performed some erroneous tests, only the above ones passed without any issue.

[2020-03-12 08:49] beevee commented on #216
@hv7214 okay. You can make a PR fixing these, and we'll try to come up with different ways to bypass your checks :-)

[2020-03-12 08:51] hv7214 commented on #216
@beevee sure ; )

[2020-03-12 09:40] sashasushko commented on #508
Бонусом хотелось бы до этих правок втащить сторишоты или скриншотные тесты (первое проще, второе больше покрывает кейсов), чтобы можно было проверть, не аффектит ли правка что-либо.

[2020-03-12 13:29] beevee commented on #446
@alishamohanty @shashikant231 @adrijshikhar OK, now we have the `feature/lint-hacktoberfest` branch with all linters enabled. As expected, it generates a lot of linter errors. You are welcome to try and fix them. Please, keep different linter fixes in different PRs, so multiple people can work on this issue in parallel.

[2020-03-15 20:05] alishamohanty commented on #446
Okay, @beevee, Working on it. Keeping you posted here.

[2020-03-16 07:22] shashikant231 commented on #469
Hi @litleleprikon  can you describe  some steps to reproduce this behaviour ?

[2020-03-16 07:25] shashikant231 commented on #446
Alright @beevee .i will start from now on!!

On Mon, 16 Mar 2020 at 01:35, Alisha Mohanty <notifications@github.com>
wrote:

[2020-03-16 08:23] beevee opened #512 "Fulltext search breaks on ALL CAPS"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>

$ api --version
Moira Api
Version: 2020-03-04.4095911
Git Commit: 40959110ada8c17ab6d6f594c61bcafba5cf6b3f
Go Version: go1.13.1

</pre></details>

## What did you expect to see?

I expected fulltext search to work regardless of query string case.

## What did you see instead?

Instead, it doesn't work whe

[2020-03-16 08:56] #406 closed

[2020-03-16 09:42] beevee commented on #379
@hv7214 I think once.

[2020-03-16 09:48] beevee commented on #200
MVPшная реализация норм работает, предлагаю больше ничего не делать тут.

[2020-03-16 09:48] #200 closed

[2020-03-17 02:32] SrividyaKK commented on #309
@sashasushko  I saw that both react-router and react-router-dom packages have been installed. The react-router package is not needed, as react-router-dom would accomplish the tasks, wouldn't it?

[2020-03-17 06:27] beevee opened #514 "Enhance timestamp rounding algorithm"
Consider a metric that arrives _approximately_ every 60 seconds:

Original Timestamp | Rounded by Moira | Rounded by Graphite
------------------- | ------------------ | ---------------------
00:29                       | 00:00                      | 00:00
01:29                       | 01:00                       | 01:00
02:30                       | 03:00                      | 02:00
03:29

[2020-03-17 06:33] beevee commented on #514
Interesting places in code:

1. Rounding: https://github.com/moira-alert/moira/blob/a19b756b9ee9ef4f5ac3547e88e1dae688a2bb81/helpers.go#L195-L197
2. Also rounding: https://github.com/moira-alert/moira/blob/a19b756b9ee9ef4f5ac3547e88e1dae688a2bb81/metric_source/local/fetchdata.go#L94-L99
2. Data deduplication: https://github.com/moira-alert/moira/blob/a19b756b9ee9ef4f5ac3547e88e1dae688a2bb81/metric

[2020-03-17 10:39] beevee commented on #514
An interesting case, when user erroneously sends points every 10 seconds instead of every minute. Let's say we allow rounding up within 10 seconds of the next timestamp.

Original Timestamp | Rounded by Moira (proposed algorithm)
------------------- | ------------------
00:10                       | 00:00
00:20                       | 00:00 (last write wins)
00:29                       | 00:00 (la

[2020-03-18 19:40] alishamohanty commented on #512
Even if we make any letter other than the first letter capital, it is unable to search it. For example meDI or meDi also doesn't work, even if the exact word is present.

[2020-03-18 19:48] alishamohanty commented on #512
I am new to Go, so it might take a few days to complete the issue, but I would like to work on it.

[2020-03-19 06:25] vikasprashar99 commented on #512
yes can you please elaborate the issue

[2020-03-19 06:56] beevee commented on #512
@vikasprashar99 elaborate how? What part of this issue you don't understand?

[2020-03-19 07:47] vikasprashar99 commented on #368
can you please tell me the component of this page?

[2020-03-19 07:49] vikasprashar99 commented on #512
@beevee so when you write in caps it isn't able to search?

[2020-03-19 07:52] beevee commented on #512
@vikasprashar99 please, look at the screenshots I included in the task description. Or download Moira and try to reproduce this yourself.

[2020-03-19 08:01] vikasprashar99 commented on #512
okay i will check, have already downloaded

[2020-03-21 07:43] hv7214 commented on #514
@beevee  what i understood is :
1. `roundToMinimalHighestRetention` is a kind of ceil of function.
2. `RoundToNearestRetention` is kind of floor function.

So does it meant to be merged to give it shape of proposed algorithm?

[2020-03-21 14:05] beevee commented on #514
No, it isn't. "Round to nearest" is not the same as "round down".

And I'm not sure we can merge these functions. For some reason they behave differently, so we should first understand why. IIRC, @borovskyav told me that he knows why these rounding functions are different.

[2020-03-22 11:59] hv7214 commented on #514
Yes they do because `roundToMinimalHighestRetention` tries to round by adding full retention and latter tries to round up by adding half retention which in turn result in floor behaviour.

For an instance:
Let's say retention Is 60secs and time is 00:01.
roundToMinimalHighestRetention returns : 01:00 (1 + 60 / 60 * 60)
RoundToNearestRetention returns : 00:00 (1 + 30 / 60 * 60)

[2020-03-23 05:25] hv7214 commented on #512
@beevee i think this issue should be merged with this one https://github.com/moira-alert/moira/issues/345

[2020-03-23 06:38] beevee commented on #512
#345 is too vague. This issue, on the other hand, is very concrete and easy to validate.

[2020-03-23 06:39] beevee commented on #514
I know they behave differently. Question is: why? If we mindlessly change both functions without trying to think why they were different in the first place, we risk breaking something.

[2020-03-23 06:41] hv7214 commented on #512
@beevee I meant there are many problems regarding `Search bar`. So it will be better to merge them all : )

[2020-03-23 06:45] beevee commented on #512
This specific problem has a very simple solution: convert search string to lowercase on frontend. Everything works, issue solved, one user made happy.

#345 is more like "we are generally unhappy with the search algorithm, but we can not specifically tell you why, and we don't know exactly how we want it to behave". Impossible to implement and check. I promise you, if we merge this with #345, it w

[2020-03-23 06:47] hv7214 commented on #512
@beevee i understood your point, you are right : )
:+1:

[2020-03-24 08:55] uwaiszaki commented on #488
@beevee Can I work on this issue?

[2020-03-24 08:57] litleleprikon commented on #488
Hi @uwaiszaki yes, you can work on it

[2020-03-24 10:01] #309 closed

[2020-03-25 05:35] hv7214 commented on #514
`RoundToNearestRetention` is responsible for this.
In `plotting.go` above function is being used for rounding which in turn generates holes.
https://github.com/moira-alert/moira/blob/ea9670976c789e68b7c2454662cb7cf503f54021/notifier/plotting.go#L107-L109.

[2020-03-27 14:54] hv7214 commented on #373
@beevee one possible solution would be: inform the user about existing group-name after `/start`

[2020-03-28 15:53] hv7214 opened #523 "[TESTS] Remote test failure"
# BUG REPORT

## What did you expect to see?

Tests in `remote_test.go` should have passed.

## What did you see instead?

A failure is being produced.

![Screenshot from 2020-03-28 21-18-21](https://user-images.githubusercontent.com/42354803/77827199-48b3b480-713a-11ea-903f-781ca8c4b301.png)

[2020-03-28 15:57] SaadBazaz opened #524 "Problems in building Moira microservices in Windows"
Hi!
I'm applying for Moira for GSoC but I'm having a really tough time getting the microservices to run. I've tried everything from Git Bash, to MinGW, and to WSL. Finally got Go to download and "go get" the files, but after that I couldn't "make" the build. For which I turned to MinGW.

It worked, but with the following fatal errors:
![image](https://user-images.githubusercontent.com/51885228/778

[2020-03-28 17:06] #523 closed

[2020-03-29 09:48] #524 closed

[2020-03-30 14:31] #190 closed

[2020-04-07 08:12] beevee opened #530 "Maintenance state is dropped when NODATA == DEL"
# BUG REPORT

I have a trigger with NODATA state set to DEL, i.e. automatically delete metrics that don't have any data for 600 seconds in a row.

1. I set maintenance mode for a metric for 7 days.
2. Data stops coming for an hour and metric gets deleted.
3. Data starts coming again, metric reappears without maintenance mode enabled.

## What did you expect to see?

Maintenance time is preserved w

[2020-04-09 13:54] #429 closed

[2020-04-10 10:50] #484 closed

[2020-04-13 11:42] beliys commented on #448
@idoqo, unfortunately @litleleprikon did not respond for a long time, but the original purpose of the task was to make this process simpler and more convenient for the end user. But we need to not only download JSON but also import previously exported settings from it.

[2020-04-13 11:52] litleleprikon commented on #448
Hi @idoqo sorry that I missed your question. I believe that @beliys gave you an answer for your question.

[2020-04-13 22:09] idoqo commented on #448
Yes, it did! I'll take a shot at it then. Thanks @beliys

[2020-04-21 10:47] sorovlad commented on #308
Updated into https://github.com/moira-alert/web2.0/pull/311

[2020-04-21 11:08] #308 closed

[2020-04-21 11:14] #508 closed

[2020-04-23 12:02] beevee commented on #182
Critical errors (display error message, disallow saving):

* any invalid expressions (mismatching brackets, etc) that can't be evaluated
* functions that do not exist for the appropriate metric source (local/remote)
* any time intervals larger than `metrics_ttl` for the appropriate metric source (local/remote)

Warnings (display warning message, but allow saving):

functions | message
---------- |

[2020-05-08 06:53] #501 closed

[2020-05-29 08:14] #364 closed

[2020-05-29 08:14] #445 closed

[2020-06-01 10:48] litleleprikon commented on #369
@beevee may we assume that this issue fixed by your improvement of metrics TTL?

[2020-06-01 10:51] beevee commented on #369
Not sure. But I don't see any way to limit checker memory consumption other than tuning TTL value.

[2020-06-04 13:08] rb-beip opened #533 "perSecond function doesn't calculate any value"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

amd64--2.5.1.0-1

<details><pre>

$ api --version

2.5.1.0-1

$ checker --version

2.5.1.0-1

$ cli --version

2.5.1.0-1

$ filter --version

2.5.1.0-1

$ notifier --version

2.5.1.0-1

</pre></details>

## Configuration

<details>

`api.yaml`

[code]

`checker.yaml`

[code]

`cli.yaml`

[code]

`filter.yaml`

[code]

`n

[2020-06-05 06:21] paragor commented on #366
Можно ли расчитывать на релиз этой фичи в ближайшие месяцы? :)

Очень хочется интеграции с influxDb или Prometheus в качестве датасорса.

[2020-06-05 11:34] litleleprikon opened #535 "Send multiple plots to all supported senders"
# FEATURE

## Summary

After release of improved advanced mode following senders do not support sending of multiple plots:

* Discord
* MSTeams(do not support image sending at all)
* Opsgenie
* PagerDuty
* Pushover
* Script Runner(do not support image sending at all and probably should not support it)
* Self State(do not support image sending at all and probably should not support it)
* Slack
* Tw

[2020-06-08 10:15] litleleprikon commented on #230
Example of new command subscriptions design
![New Wireframe 1](https://user-images.githubusercontent.com/5058463/84019528-0d2f3500-a98a-11ea-9014-ad96bee78a16.png)
![New Wireframe 2](https://user-images.githubusercontent.com/5058463/84019548-128c7f80-a98a-11ea-8f5b-6aee657efd51.png)
![New Wireframe 3](https://user-images.githubusercontent.com/5058463/84019564-16b89d00-a98a-11ea-8758-01ec09595e50.p

[2020-06-11 15:36] borovskyav opened #544 "Научиться в exptression добавлять результирующее состояние проверки не только в UpperCase"
Сейчас вот такой expression `t1 < 1024 : error ? ok` упадет с ошибкой, хотя вроде нет ничего плохого взять и научиться поддерживать состояния не только в UpperCase

[2020-06-12 13:15] pepelev opened #545 "Customizable value thresholds"
# Customizable value thresholds

## Summary

Grant ability to define custom thresholds (warn, error) for specific series inside trigger, not only trigger-wide thresholds.

### Details

<details>
It’s convenient to have a trigger that monitors one aspect of the system. Let's say there is a trigger that watch the free disk space on several machines. But machines are heterogeneous and their disks are

[2020-06-15 09:37] litleleprikon commented on #428
Was closed accidentally. Will close it when frontend will be merged and documentation will be updated.

[2020-06-17 11:31] litleleprikon opened #550 "Implement trigger checks isolation"
# FEATURE

## Summary
Sometimes when users create a triggers with huge amount of metrics or huge amount of datapoints in fetched metrics Moira can be killed by OOM killer. This lead to hard investigation of Moira fails.

Trigger checks should have some kind of isolation or triggers that lead Moira to OOM kill should be marked at any way.

[2020-06-19 14:37] litleleprikon opened #553 "Split different states in throttled events"
# FEATURE

## Summary

If trigger is in throttled state it's metrics with different states all mixed in one alert. To increase observability of trigger alerts with different states or even states transitions should be splitted to different messages or should be marked different in message.

[2020-06-19 14:43] borovskyav commented on #553
This applies not only to messages with throttling, but also to messages that were generated based on two events like:
[code]

[2020-07-16 08:55] litleleprikon opened #559 "Errors not fire if ttl state is OK or DEL"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?
[code]

## What did you expect to see?
When trigger have ttl state set to OK or DEL if Moira receives metric with value that should fire ERROR the ERROR state should be fired.

## What did you see instead?
When trigger have ttl state set to OK or DEL some transitions NODATA->ERROR are missing.

[2020-07-21 05:26] JIexa24 opened #560 "Memory leak in moira-filter service"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>

$ moira-filter --version
2.5.1.0

$ lsb_release -a
Distributor ID: Debian
Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster

$ uname -a
Linux moira 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux

</pre></details>

## Configuration

<detai

[2020-07-22 03:40] KateGo520 opened #561 "Cannot get latest version: module contains a go.mod file, so module path should be github.com/moira-alert/moira/v2"
## Background
The github.com/moira-alert/moira uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release stream version is **v2**. It must comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation and enforced since the most recent versions of Go. The module path should be “github.com/moira-alert/moira/v2”. Quoting the s

[2020-07-22 03:42] KateGo520 commented on #561
@beevee  @litleleprikon  Could you help me review this issue? Thx :p

[2020-07-24 10:37] proffust opened #563 "Не отправляются нотификации в приватные каналы по chat_id"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>

$ api --version
 docker exec -ti moira_api_1 api --version
Moira Api
Version: 2.5.1.0
Git Commit: 167fa10460980741ae0c6cf90e39aa56bea077b1
Go Version: go1.13.1
$ checker --version
docker exec -ti moira_checker_1 checker --version
Moira Checker
Version: 2.5.1.0
Git Commit: 167fa10460980741ae0c6cf90e39aa56b

[2020-07-27 10:41] beevee opened #564 "Warn user that TTL is too small"
# FEATURE

## Summary

Warn user that low TTL can lead to false positives in trigger creation/editing form. Low TTL threshold can be configurable, but `300` seems to be a reasonable default.

### Details

<details>
Moira can generate false NODATA events in case there is a temporary failure in incoming metric delivery (e.g. some of carbon-relay replicas failed). We have some protection measures (e.

[2020-07-27 10:59] #560 closed

[2020-07-30 06:46] sorovlad opened #567 "Sorting and filtering subscriptions"
# FEATURE

## Summary
Filter and sort controls is need to subscription page.
Its not simple to find and equal subscriptions if page has the big list of them.

[2020-07-30 07:52] deniaa opened #568 "Custom maintenance time for a specific trigger target."
# FEATURE
Select time untill trigger specific target is in "maintenance" state.

## Summary

For example I have tens or hundreds trigger targets. These are the clients of my service and I want to know if client received errors.
If one client become "bad" and all his mistakes are his fault I want to set "Maintenance" for him.
If we know that the client will fix the problem by a certain date I cant

[2020-08-04 12:21] MetikovVadim opened #569 "Capability to send result of evaluation on targets in notifications"
# Send overall result of evaluation on targets

## Summary
As we have several targets in one trigger we want to get an overall result of evaluation in notifications when trigger fires.

We have several targets in one trigger. Also we use formulas to get a calculated value. It would be great to get a single result in notifications when trigger fires.

### Details

<details>
</details>

[2020-08-17 10:31] #448 closed

[2020-08-17 10:31] #568 closed

[2020-08-17 11:09] sorovlad commented on #567
https://github.com/moira-alert/web2.0/pull/326

[2020-08-17 11:09] #567 closed

[2020-08-26 17:33] KavishShah09 commented on #446
Can I take a stab at this if no one is working on it? @beevee

[2020-09-17 05:18] litleleprikon opened #575 "Allow hide trigger description in notifications"
# FEATURE

## Summary

Sometimes trigger description have a bunch of additional info related to problem investigation. Long description affects to long alerts that became hard to interpret especially if alerts come in huge amount. I propose allow to hide description in alerts.

### Details
I propose add a checkbox to subscription that will hide a description in alerts that are tended by this subsc

[2020-09-17 08:35] KungA commented on #575
- There may be special decription delimeter for main and instruction parts
- Instruction should be sent to Slack thread

[2020-09-21 09:55] #512 closed

[2020-10-01 05:01] kislovs opened #577 "Templated triggers"
# FEATURE

## Summary

I propose to add mechanism to create templated triggers which will save all current posibilities (such as different trigger settings and triggers parameters [movingAverage time for instance]) without need to create duplicates and maintain its' freshness.

### Why (based on our scenarios)

I think it's pretty common that some bunch of triggers are pretty templated, especially

[2020-10-07 09:46] #563 closed

[2020-10-21 11:53] #488 closed

[2020-10-30 15:30] vraskoshnyy opened #591 "make possible to disable throttling mode for some triggers"
# need a function to disable throttling mode for some triggers

## Summary
often need to work with triggers like this groupByNode(dc.host.app.requests.incoming.*.*.process_time.failed.count, 6, 'sum'),
in time of major app failure, a large number of notifications are generated simultaneously and throttling mode blocks sending of notification. As a result, Moira sends the first notification to tele

[2020-11-11 09:25] litleleprikon opened #592 "Different behaviour of different Carbon API versions"
# BUG REPORT

In this issue I want to collect all differences in behaviour of different versions of Carbon API.

[2020-11-11 09:30] litleleprikon commented on #592
Function `movingAverage` in CarbonAPI version `v0.0.0-20201019162650-b789c0eaed8a` works like `consolidateBy(min)`

[2020-11-13 11:02] litleleprikon opened #593 "Old metrics in last check do not remove on trigger change"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

Master on commit `a55b5cb`

## What did you expect to see?

When I change trigger metrics to target relation in last check should be flushed in intellectual way as it will cause creation of metrics in new trigger check.

## What did you see instead?
In last check structure appear metric from last check that in changed tr

[2020-11-16 11:59] beevee commented on #564
We should also forbid 0 or any negative value.

[2020-11-19 07:32] #564 closed

[2020-11-24 11:50] beevee opened #595 "Add config option to disallow public Telegram channel subscriptions"
# FEATURE

## Summary

Current Telegram sender allows subscribing to private chats, groups, private and public channels. Sending alerts to public Telegram channels could be a security risk. We don't have any control over that in the current sender implementation. I think we should add an option to disallow public Telegram channels in contacts.

[2021-01-14 10:10] litleleprikon opened #597 "Not working "mute new metrics" checkbox"
# BUG REPORT

## What did you expect to see?
When creating new trigger if checkbox "mute new metrics" is set to true  then when trigger first time stay OK notification should not be sent.

## What did you see instead?
Notifications sent.

[2021-01-14 11:04] burnerlee commented on #597
@litleleprikon, may I take up this issue and start working on this?

[2021-01-14 11:05] litleleprikon commented on #597
Hi @burnerlee  of course you can

[2021-01-14 11:07] burnerlee commented on #597
thank you so much

[2021-01-14 17:19] imshubh4141 commented on #469
@idoqo Is the issue still open?

[2021-01-15 13:31] litleleprikon opened #598 "Ansible role creates a new tag if tag specified as string instead of list of strings"
# BUG REPORT

## What did you expect to see?

If tags sent via string in Moira alert new tag should not be created.

Example:

[code]

Instead of

[code]

## What did you see instead?

Created new tag `testTag` even if this tag existed.

[2021-01-15 13:58] idoqo commented on #469
Yeah it is, there's an incomplete implementation here https://github.com/moira-alert/moira/pull/520 so feel free to look at it for if you need some pointers.

[2021-01-16 09:58] burnerlee commented on #598
@litleleprikon can i work on this issue?

[2021-01-19 17:47] #182 closed

[2021-01-29 14:34] #441 closed

[2021-02-10 13:32] #593 closed

[2021-02-15 10:50] damjanek opened #603 "OpsGenie does not allow to change API endpoint used for notifications"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>

$ api --version
/ # /usr/bin/api --version
Moira Api
Version: 2.5.0.0
Git Commit: 4c03982d9e87e38354a5b648971cda6f580811f3
Go Version: go1.11.5

$ notifier --version
/ # notifier --version
Moira Notifier
Version: MoiraVersion
Git Commit: git_Commit
Go Version: GoVersion

Notifier container is built from m

[2021-02-20 12:26] litleleprikon opened #607 "Move to new slack library"
# FEATURE

## Summary
The slack library that is used in Moira is archived and moved to new repo. We should use a new library https://github.com/slack-go/slack

[2021-02-23 13:53] #607 closed

[2021-02-26 10:39] androndo opened #614 "Autodisabling blocked subscriptions"
Today some subscriptions may repeat failed sendings about 50+ times, because:
* telegram bot blocked
* slack channel archieved
* wrong contact address
* etc.

But some reasons is ok: timeouts or others (?), we need pass them.

This sending attempts generate unneccessary activity and trash collected at logs.

Possible way:
Add some euristic to check notification fail reasons and attempts count, and

[2021-03-10 10:52] litleleprikon opened #618 "Normalise retention of metrics between targets"
# FEATURE

## Summary

In advanced mode can occur situations in which metrics in different targets have different retentions. We need investigate the way to normalise retentions between this metrics for correct check.

[2021-03-15 12:04] litleleprikon opened #619 "Some alerts contains metrics that were in maintenance"
# BUG REPORT

## What did you expect to see?
When metric changes state during maintenance period then alert should not be sent.

## What did you see instead?
Users report alerts that contain changes in states of metrics that have been in maintenance.

[2021-03-15 12:49] litleleprikon opened #620 "Trigger target validation return 500 on wrong function names"
# BUG REPORT

## What did you expect to see?
When edit trigger and write wrong function name in trigger target then API should return 200 with response containing wrong function.

## What did you see instead?
API returns 500 status code

[2021-03-29 13:44] androndo commented on #592
Function groupByNode not support `'average'`, but allow `'avg'` instead.

[2021-03-30 10:46] #544 closed

[2021-05-20 09:47] simbirtsev-kontur opened #632 "Webhooks authentication"
https://moira.readthedocs.io/en/latest/installation/webhooks_scripts.html?highlight=webhook#webhooks

При использовании вебхуков, единственный способ аутентифиции мойры на сервисе: передавать ключ аутентификации через query параметр. Таким образом, ключ оседает в логах балансировщиков, за которыми находится сервис. Хотелось бы передавать ключ в заголовке.

[2021-05-20 13:49] HolyPrapor opened #633 "Filter `Error` alerts in subscription"
# Filter `Error` alerts in subscription

## Summary

There is already a feature that allows users to filter out `Warn` alerts.

In order to be able to separate `Warn` and `Error` alerts of the same trigger, it will be useful to add `Error` filter.

[2021-05-31 10:51] androndo opened #634 "Trigger TTL range checks incorrect with remotes data source."
# BUG REPORT

Moira version (current master https://github.com/moira-alert/moira/commit/1f1d72e24ffa76151f0f3aac843a37eb5dd96a8a).

## What did you expect to see?

Trigger with remote data source was checked on remote TTL config parameter.

## What did you see instead?

Error text contains TTL value for local data source:
[code]

[2021-06-10 09:02] anaym opened #638 "Show spinner on trigger page when data for trigger is not available yet"
After trigger update I want to see spinner or loader instead trigger data, until data is not available again

[2021-06-11 10:14] MironovOleg opened #639 "Error when first creating trigger using MetricElements in description (slice index out of range)"
# BUG REPORT

**Moira API Version**: 2021-04-23.6e233d0 and earlier versions.

## What did you expect to see?
*Example trigger description:*
[code]
When I create a trigger with this description, I expect it to be created without error. And with the advent of events - the description will be filled with event elements (MetricElements).

## What did you see instead?
Moira API returns me the followin

[2021-06-18 08:48] f0y commented on #366
Мы в ЮMoney переезжаем с graphite на prometheus. Нам очень нужна данная функциональность. Хочется понять какие планы на реализацию этой фичи.

[2021-06-30 13:42] flucrezia opened #643 "Update the gomail package to overcome connection issues within the mail notifier"
# FEATURE
Email notifier: update mail package from
gopkg.in/gomail.v2
to
gopkg.in/mail.v2 (https://github.com/go-mail/mail)
which is an active fork of the one currently used.

## Summary
The current gomail package and smtp package used to try dial connections and to send emails for notification do not work with many, many email provider, included Office365 and others.

Main idea
Simply update the

[2021-11-08 10:18] dmitryanchikov opened #685 "Add missing benchmark test for matching of tagged metrics"
# FEATURE

## Summary

Currently there is only benchmark test for matching of plain metrics.
The main ised is to create a separate benchmark test for tagged metrics matching. It'd be much helpful in further work on performance improvement of tagged metrics matcher.

### Details

Use existing perfromance test as a sample for new one: `performance_tests/filter/filter_test.go`

[2021-11-17 04:40] MironovOleg commented on #639
[Documentation](https://moira.readthedocs.io/en/latest/user_guide/advanced.html#templates).

It turns out that this is solved by creating the conditions for events.
Example:
[code]

[2021-11-17 04:40] #639 closed

[2021-11-17 06:50] zhelyabuzhsky commented on #639
@MironovOleg Thanks for your detailed example. It will be helpful to others.

[2021-11-22 15:34] #685 closed

[2022-03-01 13:04] pepelev opened #731 "Replay previous trigger notification on new notification in Telegram"
# Replay previous trigger notification on new notification in Telegram

## Summary

Main idea

Store message_id of last message per trigger. Pass that stored message_id to [reply_to_message_id](https://core.telegram.org/bots/api#sendmessage) json field on new notification.

### Details

<details>

Replies allows to build a chain of all relevant to single trigger messages and therefore provide easy

[2022-03-10 06:49] zhelyabuzhsky opened #733 "Add running unit tests on Redis Cluster too"
# FEATURE

## Summary

Now unit tests run only on standalone Redis. At the same time, the Redis Cluster has its own specificity. We need to add a test run on Redis Cluster to Github Actions.

[2022-03-15 07:56] amewayne opened #735 "Add cli support to clean up useless trigger events"
# FEATURE

## Summary

I deployed moira on my production environment but as time grows, trigger events is gonna run out of Redis memory. So I suggest add a command tool to clean up outdated trigger events and save memory.

### Details

1. add feature in cli module, use `cli --cleanupevents 2d` to clean up events triggered two days before.
2. add database interface to remove those events

<details>

[2022-03-15 07:57] amewayne commented on #735
if possible, I will work on this issue. Thanks.

[2022-04-18 12:56] proffust opened #743 "После обновления на 2.7.1 в вебе перестало отображаться последнее значение"
# BUG REPORT

## What version of Moira are you using (`[binary] --version`)?

<details><pre>

$ api --version
 docker exec -ti moira_api_1 api --version
2022/04/18 11:43:48 maxprocs: Leaving GOMAXPROCS=16: CPU quota undefined
Moira Api
Version: 2.7.1.0
Git Commit: a52fbcd762e11fa48c4f63e465cca1840e929026
Go Version: go1.15.15

$ checker --version
docker exec -ti moira_checker_1 checker --version
2

[2022-04-18 13:11] proffust commented on #743
с версией web2 moira/web2-nightly:2021-10-25.3a13f8c работает

[2022-05-17 18:18] ihard opened #747 "Performance degrade after update to 2.7.1"
# BUG REPORT

Big performance degrade after update to 2.7.1.
On version 2.6.2, redis master utilizes from 50% to 400% of CPU time (io-threads 4) and there are no problems with recording metrics and checking them.
On 2.7.1, even io-threads 8 does not help, utilization flies to 800% and stays constant, the filter apparently does not have time to record metrics and a queue starts to accumulate on the

[2022-05-23 12:03] ihard opened #748 "Error when working as an anonymous user in versions 2.6.2, 2.7.1"
After updating to 2.7.1 or 2.6.2 - the ability to work under an anonymous user disappeared (x-webauth-user is empty)
on version moira/web2:2.5.1.0 or moira/web2-nightly:2021-10-25.3a13f8c the error is the same
"Invalid request: user not permitted to use contact" - when trying to add a new contact and subscription.

[2022-06-01 05:57] DukeNuke3D opened #750 "Поддержка метрик из Zabbix"
# FEATURE

## Summary

Много у кого уже развернут Zabbix, при этом графики для удобства представления и общего доступа рисуются в Grafana на основании данных из Zabbix.
Когда внешняя команда хочет на основании этих показаний сделать себе уведомления централизованно через мойру, то не может этого сделать.

### Details

<details>
</details>

[2022-06-01 10:58] #634 closed

[2022-06-29 08:23] syatihoko commented on #427
Hasn't anyone implemented it yet? Or I was looking badly.

[2022-06-29 08:59] kissken commented on #427
@syatihoko Hello! Unfortunately we haven’t got Rocket.Chat implementation. But you are welcome to make pull request and we gladly will reviewed it! :)

[2022-09-02 07:44] #349 closed

[2022-09-02 08:15] kissken commented on #743
@proffust
привет! мы сделали релиз web2, можешь, пожалуйста, как будет время обновиться до последней версии и проверить, что проблемы нет?

у нас был большой релиз впервые за долгое время, подробнее обо всех изменениях по [ссылке](https://github.com/moira-alert/web2.0/releases/tag/v2.7.1)

[2022-09-02 12:01] kissken commented on #632
Было бы удобно:

Добавить на фронте выпадашку с возможностью ввода кастомных заголовков, чтобы можно было поддерживать стандартные механизмы авторизации для сервисов (если таковое у них имеется)

[2022-09-06 10:22] kissken commented on #597
now it's ok. I'll close issue :)

[2022-09-06 10:22] #597 closed

[2022-09-12 05:22] #306 closed

[2022-10-27 08:53] Dimedrolity opened #794 "Refactor Sender interface, split SendEvents method"
## Overview
We have Sender interface with SendEvents method.

[code]

SendEvents is public method of Sender interface, so it is part of public API.

## Problem

Now public API is doesn't allow to test that message is built correctly, because SendEvents has only error in return params. How to check that message is built correctly?

## Quick solution (current solution)

Now we have test of internal

[2022-11-07 08:56] Dimedrolity opened #797 "Refactor Senders configuration"
## Overview

We have Sender interface with Init method that configures Sender.

[code]

## Problem

It is strange approach to configure entity, each Sender can have its own settings and dependencies.

Now we have `logger, location *time.Location, dateTimeFormat string`, I think authors (developers) wanted to don't repeat yourself and created that unified Init method. Maybe will be better extract B

[2022-11-24 05:46] Dimedrolity commented on #794
After that we can separate to 2 interfaces, Sender and MessageBuilder. Also we can extract Message struct. Just thoughts